html {
  font-size: 100%; }

body {
  font-family: "Helvetica", Arial, sans-serif; }
  body #container header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.84); }
    body #container header .alert {
      background: #E21A2D;
      text-align: center;
      margin: 0;
      border-radius: 0; }
      body #container header .alert p {
        margin: 0 auto;
        max-width: 1170px;
        color: #FFF !important; }
    body #container header .drawer {
      background-color: #2B2727;
      z-index: 999;
      position: relative;
      border-bottom: #333; }
      body #container header .drawer .drawer-inner .drawer-header {
        transition-property: background;
        transition-duration: .2s;
        height: auto;
        background-color: #F7F7F7; }
        body #container header .drawer .drawer-inner .drawer-header .drawer-header-inner {
          height: auto; }
          body #container header .drawer .drawer-inner .drawer-header .drawer-header-inner .navbar {
            border: none;
            background: none;
            margin: 0;
            padding-top: .6rem;
            padding-bottom: .6rem; }
            body #container header .drawer .drawer-inner .drawer-header .drawer-header-inner .navbar .navbar-brand {
              max-width: 24rem;
              width: 12vw;
              min-width: 12rem;
              -ms-flex-item-align: start;
                  align-self: flex-start; }
              body #container header .drawer .drawer-inner .drawer-header .drawer-header-inner .navbar .navbar-brand img {
                width: 100%; }
            body #container header .drawer .drawer-inner .drawer-header .drawer-header-inner .navbar p {
              position: absolute !important;
              margin: 0;
              right: 3.6rem;
              text-transform: uppercase;
              letter-spacing: .06rem;
              line-height: 0;
              font-weight: bold;
              font-size: .9rem; }
            body #container header .drawer .drawer-inner .drawer-header .drawer-header-inner .navbar .navbar-toggler {
              right: 15px;
              display: block;
              cursor: pointer;
              border: none;
              opacity: .8;
              transition-property: opacity;
              transition-duration: .2s;
              padding: 0;
              top: 50%;
              -webkit-transform: translateY(-50%);
                      transform: translateY(-50%); }
            body #container header .drawer .drawer-inner .drawer-header .drawer-header-inner .navbar .navbar-toggler:hover {
              opacity: 1; }
            body #container header .drawer .drawer-inner .drawer-header .drawer-header-inner .navbar .navbar-toggler-open .navbar-toggler-icon {
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
            body #container header .drawer .drawer-inner .drawer-header .drawer-header-inner .navbar .navbar-toggler-close {
              display: none;
              position: absolute;
              border: none;
              font-size: 1.8rem;
              color: #999;
              top: 50%;
              -webkit-transform: translateY(-50%);
                      transform: translateY(-50%);
              cursor: pointer; }
      body #container header .drawer .drawer-inner .drawer-content {
        display: none;
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px; }
        body #container header .drawer .drawer-inner .drawer-content h2, body #container header .drawer .drawer-inner .drawer-content p {
          color: #FFF;
          text-align: center; }
        body #container header .drawer .drawer-inner .drawer-content h2 {
          font-size: 1.8rem;
          font-weight: bold; }
        body #container header .drawer .drawer-inner .drawer-content ul {
          padding: 0;
          margin: 0; }
          body #container header .drawer .drawer-inner .drawer-content ul .get-involved a, body #container header .drawer .drawer-inner .drawer-content ul .get-involved i {
            color: #e98243; }
          body #container header .drawer .drawer-inner .drawer-content ul .get-connected a, body #container header .drawer .drawer-inner .drawer-content ul .get-connected i {
            color: #009097; }
          body #container header .drawer .drawer-inner .drawer-content ul .get-situated a, body #container header .drawer .drawer-inner .drawer-content ul .get-situated i {
            color: #90bc3f; }
          body #container header .drawer .drawer-inner .drawer-content ul .get-support a, body #container header .drawer .drawer-inner .drawer-content ul .get-support i {
            color: #ebb330; }
          body #container header .drawer .drawer-inner .drawer-content ul .get-healthy a, body #container header .drawer .drawer-inner .drawer-content ul .get-healthy i {
            color: #5086B9; }
          body #container header .drawer .drawer-inner .drawer-content ul li {
            list-style-type: none;
            padding: 15px;
            margin: 15px 1% 0 0;
            background: rgba(0, 0, 0, 0.666);
            border-radius: .2rem;
            width: 32%;
            box-sizing: border-box;
            float: left; }
            body #container header .drawer .drawer-inner .drawer-content ul li a {
              font-family: "Montserrat", sans-serif;
              font-size: 1.4rem;
              cursor: default; }
            body #container header .drawer .drawer-inner .drawer-content ul li a:hover {
              text-decoration: none; }
            body #container header .drawer .drawer-inner .drawer-content ul li ul {
              width: 100%;
              box-sizing: border-box;
              float: none; }
              body #container header .drawer .drawer-inner .drawer-content ul li ul li {
                border-right: none;
                border-bottom: 1px solid #232323;
                padding: .6rem 0;
                margin: 0;
                background: transparent;
                width: 100%;
                line-height: 1;
                text-align: left; }
                body #container header .drawer .drawer-inner .drawer-content ul li ul li i {
                  margin: 0 .6rem 0 0;
                  color: inherit; }
                body #container header .drawer .drawer-inner .drawer-content ul li ul li a {
                  font-family: "Helvetica", Arial, sans-serif;
                  color: #FFF !important;
                  font-size: 1rem;
                  line-height: 1;
                  cursor: pointer; }
                body #container header .drawer .drawer-inner .drawer-content ul li ul li a:hover {
                  text-decoration: underline; }
              body #container header .drawer .drawer-inner .drawer-content ul li ul li:nth-last-child(1) {
                border: none; }
    body #container header #inner-header {
      height: auto;
      padding-top: .6rem;
      padding-bottom: .6rem; }
      body #container header #inner-header .navbar {
        background: none;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
            align-content: center; }
        body #container header #inner-header .navbar .navbar-brand {
          font-family: "Oswald", sans-serif;
          color: #FFF;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.6rem;
          margin: 0;
          transition-duration: .2s;
          transition-property: color; }
          body #container header #inner-header .navbar .navbar-brand i {
            margin: 0 .6rem 0 0; }
        body #container header #inner-header .navbar .navbar-brand:hover {
          color: #E21A2D; }
        body #container header #inner-header .navbar .navbar-toggler {
          color: rgba(255, 255, 255, 0.9);
          right: 0;
          top: 0;
          padding: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%); }
          body #container header #inner-header .navbar .navbar-toggler span {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
        body #container header #inner-header .navbar .navbar-collapse {
          width: 100%;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          -ms-flex-line-pack: center;
              align-content: center; }
          body #container header #inner-header .navbar .navbar-collapse ul li {
            padding: .6rem 0;
            list-style-type: none;
            line-height: 1; }
            body #container header #inner-header .navbar .navbar-collapse ul li a {
              padding: 0 0 0 1.2rem;
              font-size: 1.2rem;
              font-family: "Oswald", sans-serif;
              text-transform: uppercase;
              transition-property: color;
              transition-duration: .2s;
              line-height: 1; }
            body #container header #inner-header .navbar .navbar-collapse ul li a:hover {
              color: #E21A2D;
              text-decoration: none !important; }
            body #container header #inner-header .navbar .navbar-collapse ul li .sub-menu {
              padding: 0;
              margin: .6rem 0 0 1.2rem;
              border: 1px solid #FFF;
              background: #F7F7F7;
              border-radius: .1rem;
              left: 0; }
              body #container header #inner-header .navbar .navbar-collapse ul li .sub-menu li {
                padding: 0;
                margin: 0;
                border-bottom: 1px solid #EEE; }
                body #container header #inner-header .navbar .navbar-collapse ul li .sub-menu li a {
                  padding: .6rem;
                  margin: 0;
                  border: none;
                  color: #524030; }
                body #container header #inner-header .navbar .navbar-collapse ul li .sub-menu li a:hover {
                  color: #E21A2D; }
          body #container header #inner-header .navbar .navbar-collapse ul li:nth-last-child(1) .sub-menu {
            right: 0;
            left: auto; }
          body #container header #inner-header .navbar .navbar-collapse .social {
            padding: 0 0 0 15px;
            border-left: 1px solid #333;
            margin: 0 0 0 15px; }
            body #container header #inner-header .navbar .navbar-collapse .social a {
              margin: 0 .6em 0 0;
              position: relative;
              top: 50%;
              -webkit-transform: translateY(-50%);
                      transform: translateY(-50%); }
              body #container header #inner-header .navbar .navbar-collapse .social a i {
                font-size: 1.2em;
                color: #FFF;
                opacity: .8; }
              body #container header #inner-header .navbar .navbar-collapse .social a i:hover {
                opacity: 1;
                color: #E21A2D; }
        @media (max-width: 767px) {
          body #container header #inner-header .navbar .navbar-collapse ul li .sub-menu {
            display: none; } }
  body #container #content {
    background: #FFF; }
    body #container #content #inner-content main header {
      background: transparent;
      border: none; }
    body #container #content #inner-content main section {
      padding: 3.6rem 0; }
      body #container #content #inner-content main section *:nth-last-child(1) {
        margin-bottom: 0; }
      body #container #content #inner-content main section .hentry {
        border: none; }
    body #container #content #inner-content main section:nth-child(even) {
      background-color: #F9F9F9; }
    body #container #content #inner-content main .full-width-text * {
      max-width: 992px; }
    body #container #content #inner-content main .simple-full-bleed-image {
      padding: 0; }
      body #container #content #inner-content main .simple-full-bleed-image .simple-full-bleed-image-inner {
        height: 96vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
    body #container #content #inner-content main .dynamic-text-image-cta-blocks .image {
      height: calc(1.2rem + 12vw);
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 0 15px 0; }
    body #container #content #inner-content main .simple-carousel .carousel-caption h5 {
      color: #FFF; }
    body #container #content #inner-content main .simple-gallery .gallery dl dt {
      float: left; }
      body #container #content #inner-content main .simple-gallery .gallery dl dt a img {
        border: medium solid #FFF;
        box-shadow: 0 0 .2rem #999;
        margin: .2rem; }
    body #container #content #inner-content main .simple-checklist ul li {
      list-style-type: none;
      line-height: 2; }
    body #container #content #inner-content main .frequently-asked-questions .accordion {
      margin: 2.4rem 0; }
    body #container #content #inner-content main .events-calendar .tribe-mini-calendar-event {
      border: none;
      margin: 0 0 1.2rem 0; }
    body #container #content #inner-content main .events-calendar .tribe-events-title a {
      text-transform: none;
      font-family: "Helvetica", Arial, sans-serif;
      font-size: 1rem; }
    body #container #content #inner-content main .flexible-staff-module .image {
      height: calc(4.8rem + 4.8vw);
      width: calc(4.8rem + 4.8vw);
      background-size: cover;
      background-position: center;
      border-radius: 50%; }
    body #container #content #inner-content main .events #tribe-events-content table .tribe-events-last {
      border: none; }
      body #container #content #inner-content main .events #tribe-events-content table .tribe-events-last h3 a {
        color: inherit; }
    body #container #content #inner-content main .events .tribe-events-tooltip {
      padding: 1.2rem !important; }
    body #container #content #inner-content main .events .tribe-events-event-meta {
      border: none; }
    body #container #content #inner-content main .events .tribe-events-single-section-title {
      font-size: 1.4rem; }
    body #container #content #inner-content main .events .tribe-events-nav-previous a,
    body #container #content #inner-content main .events .tribe-events-nav-next a {
      font-size: 1rem;
      font-family: "Helvetica", Arial, sans-serif;
      font-weight: normal; }
    body #container #content #inner-content main .events #tribe-events .tribe-events-content p {
      text-align: left; }
    body #container #content #inner-content main .events .tribe-events-list .tribe-events-event-image img {
      border: medium solid #FFF;
      box-shadow: 0rem 0rem .3rem #999; }
    body #container #content #inner-content main .events .tribe-events-list .type-tribe_events h2 {
      font-size: 1.6em;
      line-height: 1; }
    body #container #content #inner-content main .events .tribe-events-list .type-tribe_events {
      margin-bottom: 4rem; }
    body #container #content #inner-content main .flexible-carousel .header {
      position: relative;
      z-index: 999;
      background: transparent;
      margin: 0 0 1.2rem 0; }
    body #container #content #inner-content main .flexible-carousel .container {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 2.4rem 0 3.6rem; }
      body #container #content #inner-content main .flexible-carousel .container .row {
        position: relative;
        z-index: 999; }
    body #container #content #inner-content main .flexible-carousel .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.666); }
    body #container #content #inner-content main .flexible-carousel .carousel {
      background: #FFF;
      border-radius: .2rem;
      padding: 15px 0;
      width: 100%; }
      body #container #content #inner-content main .flexible-carousel .carousel .carousel-caption {
        position: relative;
        right: auto;
        bottom: auto;
        left: 0;
        z-index: 10;
        padding-top: 0;
        padding-bottom: 0;
        color: #fff;
        text-align: left; }
        body #container #content #inner-content main .flexible-carousel .carousel .carousel-caption p {
          color: #524030; }
      body #container #content #inner-content main .flexible-carousel .carousel .carousel-control-next,
      body #container #content #inner-content main .flexible-carousel .carousel .carousel-control-prev {
        width: auto; }
      body #container #content #inner-content main .flexible-carousel .carousel .carousel-control-next {
        right: -2vw; }
      body #container #content #inner-content main .flexible-carousel .carousel .carousel-control-prev {
        left: -2vw; }
    body #container #content #inner-content .sidebar .widget h4 {
      border: none;
      font-family: "Oswald", sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 1.8rem; }
    body #container #content #inner-content .sidebar .widget ul li {
      margin: 0; }
    body #container #content .events .img-fluid {
      margin-bottom: 2.4rem; }
    body #container #content .events .hentry {
      border: none; }
    body #container #content .events h1, body #container #content .events h2, body #container #content .events h4, body #container #content .events h5, body #container #content .events h5 {
      display: block !important; }
    body #container #content .events .single-tribe_events .tribe-events-event-meta {
      background: #F7F7F7;
      border: none;
      margin: 0; }
    body #container #content .events .tribe-events-schedule {
      margin: 0; }
  body #container footer h1, body #container footer h2, body #container footer h3, body #container footer h4, body #container footer h5, body #container footer h6, body #container footer p, body #container footer a, body #container footer i {
    color: #FFF !important; }
  body #container footer a {
    font-weight: bold;
    margin: .6rem 0; }
  body #container footer p {
    margin: .6rem 0; }
  body #container footer .footer-logo img {
    max-width: 12em;
    padding: 1.2em; }
  body #container footer .footer-widget {
    margin: 1.2em 0;
    border-left: 1px solid rgba(255, 255, 255, 0.333); }
    body #container footer .footer-widget .widgettitle {
      border-bottom: none;
      margin-bottom: .4em;
      font-size: calc(1.2em + 1vw);
      color: #E21A2D;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase; }
    body #container footer .footer-widget .social {
      margin: 0 .2em 0 0;
      padding: 0; }
      body #container footer .footer-widget .social a {
        line-height: 0em; }
        body #container footer .footer-widget .social a i {
          margin: 0 .2em 0 0;
          font-size: 1.6em;
          opacity: .8; }
        body #container footer .footer-widget .social a i:hover {
          opacity: 1; }
      body #container footer .footer-widget .social p {
        font-size: 1em;
        margin: 0; }
    body #container footer .footer-widget i {
      color: #E21A2D;
      font-size: 1.2em; }
  body #container footer .footer-widget:nth-last-child(1) {
    border-right: 1px solid rgba(255, 255, 255, 0.333); }
  body #container footer .copyright {
    background-color: #E7E7E7;
    padding: 1.2em 0; }
    body #container footer .copyright p {
      font-size: .8em;
      font-weight: bold; }
  body #container footer .universal-footer {
    padding: 1em;
    text-align: center;
    background: #636363; }
    body #container footer .universal-footer .wrapper {
      position: relative; }
      body #container footer .universal-footer .wrapper .left {
        position: relative; }
        body #container footer .universal-footer .wrapper .left .logo {
          background: url("https://www.northeastern.edu/neuhome/images/logo-footer.png") no-repeat scroll left top transparent;
          color: #FFFFFF;
          float: left;
          font-family: Georgia,Times,Arial,serif;
          font-size: 18px;
          height: 17px;
          margin-right: 20px;
          padding: 0;
          text-decoration: none;
          width: 173px; }
      body #container footer .universal-footer .wrapper .right {
        position: relative; }
        body #container footer .universal-footer .wrapper .right .info {
          margin: 0 0 1em 0;
          clear: both;
          padding: 0; }
          body #container footer .universal-footer .wrapper .right .info li {
            float: left;
            margin-right: 1em;
            list-style-type: none !important;
            line-height: .1em; }
            body #container footer .universal-footer .wrapper .right .info li a {
              color: white;
              font-size: .8em;
              margin: 0 1em 0 0; }
          body #container footer .universal-footer .wrapper .right .info li::after {
            content: "\00b7"; }
          body #container footer .universal-footer .wrapper .right .info li:last-child::after {
            content: "";
            margin-right: 0;
            padding-right: 0; }
        body #container footer .universal-footer .wrapper .right .contact {
          font-size: .7em;
          text-align: left;
          color: #CCC; }

/*
* === HOME ===
*/
.home #container .fade-in-on-page-load,
.page-template-page-sub-home #container .fade-in-on-page-load {
  opacity: none; }

.home #container #content,
.page-template-page-sub-home #container #content {
  margin: 0; }
  .home #container #content .hero,
  .page-template-page-sub-home #container #content .hero {
    min-height: 24em; }
    .home #container #content .hero .overlay,
    .page-template-page-sub-home #container #content .hero .overlay {
      background-image: url("../images/hero-overlay.png");
      background-repeat: repeat;
      z-index: 99;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
      .home #container #content .hero .overlay .carousel,
      .page-template-page-sub-home #container #content .hero .overlay .carousel {
        height: 100%; }
        .home #container #content .hero .overlay .carousel .carousel-inner,
        .page-template-page-sub-home #container #content .hero .overlay .carousel .carousel-inner {
          height: 100%; }
          .home #container #content .hero .overlay .carousel .carousel-inner .carousel-item,
          .page-template-page-sub-home #container #content .hero .overlay .carousel .carousel-inner .carousel-item {
            height: 100%; }
          .home #container #content .hero .overlay .carousel .carousel-inner .carousel-caption,
          .page-template-page-sub-home #container #content .hero .overlay .carousel .carousel-inner .carousel-caption {
            position: absolute;
            top: 60%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            padding: 0;
            margin: 0; }
          .home #container #content .hero .overlay .carousel .carousel-inner h2, .home #container #content .hero .overlay .carousel .carousel-inner h3, .home #container #content .hero .overlay .carousel .carousel-inner p,
          .page-template-page-sub-home #container #content .hero .overlay .carousel .carousel-inner h2,
          .page-template-page-sub-home #container #content .hero .overlay .carousel .carousel-inner h3,
          .page-template-page-sub-home #container #content .hero .overlay .carousel .carousel-inner p {
            color: #FFF !important; }
          .home #container #content .hero .overlay .carousel .carousel-inner h2,
          .page-template-page-sub-home #container #content .hero .overlay .carousel .carousel-inner h2 {
            font-size: calc(1.2em + 3.6vw);
            font-weight: bold;
            text-shadow: 0rem .1rem .1rem #000; }
          .home #container #content .hero .overlay .carousel .carousel-inner h3,
          .page-template-page-sub-home #container #content .hero .overlay .carousel .carousel-inner h3 {
            font-size: calc(1rem + 1vw);
            text-shadow: 0rem .1rem .1rem #000; }
    .home #container #content .hero .image-hero,
    .page-template-page-sub-home #container #content .hero .image-hero {
      height: 100vh;
      background-size: cover;
      background-position: center;
      min-height: 36rem; }
      .home #container #content .hero .image-hero .overlay,
      .page-template-page-sub-home #container #content .hero .image-hero .overlay {
        background: rgba(0, 0, 0, 0.666); }
        .home #container #content .hero .image-hero .overlay .inner,
        .page-template-page-sub-home #container #content .hero .image-hero .overlay .inner {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%); }
        .home #container #content .hero .image-hero .overlay h2,
        .page-template-page-sub-home #container #content .hero .image-hero .overlay h2 {
          font-size: calc(1.2em + 2.4vw);
          font-weight: bold;
          text-shadow: 0rem .1rem .1rem #000;
          color: #FFF;
          text-transform: none;
          margin: 0 2.4rem 0 0; }
        .home #container #content .hero .image-hero .overlay h3,
        .page-template-page-sub-home #container #content .hero .image-hero .overlay h3 {
          font-size: calc(1rem + 1vw);
          text-shadow: 0rem .1rem .1rem #000;
          color: #FFF; }
    .home #container #content .hero .video-hero,
    .page-template-page-sub-home #container #content .hero .video-hero {
      display: block;
      height: auto;
      overflow: hidden;
      max-height: 100vh;
      position: relative;
      min-height: 24em; }
    .home #container #content .hero .hero-inner,
    .page-template-page-sub-home #container #content .hero .hero-inner {
      position: relative;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 99; }
      .home #container #content .hero .hero-inner .events-wrapper,
      .page-template-page-sub-home #container #content .hero .hero-inner .events-wrapper {
        background: rgba(226, 26, 45, 0.9);
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0; }
        .home #container #content .hero .hero-inner .events-wrapper .logo,
        .page-template-page-sub-home #container #content .hero .hero-inner .events-wrapper .logo {
          position: absolute;
          height: 100%;
          margin: 0; }
          .home #container #content .hero .hero-inner .events-wrapper .logo img,
          .page-template-page-sub-home #container #content .hero .hero-inner .events-wrapper .logo img {
            width: 100%;
            max-width: 20vw;
            position: absolute;
            bottom: 0;
            height: auto; }
        .home #container #content .hero .hero-inner .events-wrapper .event-wrapper,
        .page-template-page-sub-home #container #content .hero .hero-inner .events-wrapper .event-wrapper {
          padding: 15px; }
          .home #container #content .hero .hero-inner .events-wrapper .event-wrapper .event,
          .page-template-page-sub-home #container #content .hero .hero-inner .events-wrapper .event-wrapper .event {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
            margin: 15px 0;
            max-width: 400px; }
            .home #container #content .hero .hero-inner .events-wrapper .event-wrapper .event i,
            .page-template-page-sub-home #container #content .hero .hero-inner .events-wrapper .event-wrapper .event i {
              font-size: 2rem;
              margin: .2rem .6rem 0 0;
              color: #FFF; }
            .home #container #content .hero .hero-inner .events-wrapper .event-wrapper .event h4,
            .page-template-page-sub-home #container #content .hero .hero-inner .events-wrapper .event-wrapper .event h4 {
              color: #FFF;
              line-height: 1;
              font-family: "Oswald", sans-serif;
              font-size: 1rem; }
              .home #container #content .hero .hero-inner .events-wrapper .event-wrapper .event h4 a,
              .page-template-page-sub-home #container #content .hero .hero-inner .events-wrapper .event-wrapper .event h4 a {
                color: #FFF !important;
                font-size: 1.2rem;
                font-family: "Oswald", sans-serif;
                text-transform: uppercase;
                font-weight: bold; }
            .home #container #content .hero .hero-inner .events-wrapper .event-wrapper .event p,
            .page-template-page-sub-home #container #content .hero .hero-inner .events-wrapper .event-wrapper .event p {
              -ms-flex-negative: 0;
                  flex-shrink: 0;
              clear: both;
              font-size: .9rem;
              color: #FFF;
              opacity: .666;
              line-height: 1;
              margin: 0; }
        .home #container #content .hero .hero-inner .events-wrapper .event-button,
        .page-template-page-sub-home #container #content .hero .hero-inner .events-wrapper .event-button {
          margin: 15px 0;
          max-width: 400px; }
          .home #container #content .hero .hero-inner .events-wrapper .event-button .btn,
          .page-template-page-sub-home #container #content .hero .hero-inner .events-wrapper .event-button .btn {
            min-width: 6rem !important;
            max-width: 18rem;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            color: #FFF !important; }
  .home #container #content #inner-content,
  .page-template-page-sub-home #container #content #inner-content {
    min-height: 100vh; }
    .home #container #content #inner-content main .home-explore .student-life-organization-block,
    .page-template-page-sub-home #container #content #inner-content main .home-explore .student-life-organization-block {
      padding: 2.4rem 1vw;
      height: auto;
      min-height: 32rem;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .home #container #content #inner-content main .home-explore .student-life-organization-block .overlay,
      .page-template-page-sub-home #container #content #inner-content main .home-explore .student-life-organization-block .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .9; }
      .home #container #content #inner-content main .home-explore .student-life-organization-block .content,
      .page-template-page-sub-home #container #content #inner-content main .home-explore .student-life-organization-block .content {
        position: relative;
        z-index: 99; }
        .home #container #content #inner-content main .home-explore .student-life-organization-block .content h3,
        .page-template-page-sub-home #container #content #inner-content main .home-explore .student-life-organization-block .content h3 {
          font-family: "Montserrat", sans-serif;
          font-size: calc(1.2em + 1.2vw); }
        .home #container #content #inner-content main .home-explore .student-life-organization-block .content ul,
        .page-template-page-sub-home #container #content #inner-content main .home-explore .student-life-organization-block .content ul {
          margin: 2.4em 0 0 0;
          -webkit-column-count: 2;
                  column-count: 2; }
          .home #container #content #inner-content main .home-explore .student-life-organization-block .content ul li,
          .page-template-page-sub-home #container #content #inner-content main .home-explore .student-life-organization-block .content ul li {
            list-style-type: none !important;
            padding: 0 1.2em .6em 1.2em;
            line-height: 1.6em; }
            .home #container #content #inner-content main .home-explore .student-life-organization-block .content ul li i,
            .page-template-page-sub-home #container #content #inner-content main .home-explore .student-life-organization-block .content ul li i {
              font-size: inherit;
              color: #FFF; }
            .home #container #content #inner-content main .home-explore .student-life-organization-block .content ul li a,
            .page-template-page-sub-home #container #content #inner-content main .home-explore .student-life-organization-block .content ul li a {
              color: #FFF;
              font-family: "Oswald", sans-serif;
              font-weight: bold;
              font-size: calc(.6rem + .6vw);
              text-transform: uppercase; }
        @media (max-width: 768px) {
          .home #container #content #inner-content main .home-explore .student-life-organization-block .content ul,
          .page-template-page-sub-home #container #content #inner-content main .home-explore .student-life-organization-block .content ul {
            -webkit-column-count: 1;
                    column-count: 1; } }
        .home #container #content #inner-content main .home-explore .student-life-organization-block .content .student-life-organization-block-quote,
        .page-template-page-sub-home #container #content #inner-content main .home-explore .student-life-organization-block .content .student-life-organization-block-quote {
          color: #FFF;
          padding: 2.4em calc(1em + 2vw);
          line-height: 1.2em;
          text-align: center; }
    .home #container #content #inner-content main .home-image,
    .page-template-page-sub-home #container #content #inner-content main .home-image {
      height: 100vh;
      min-height: 24em;
      position: relative; }
      .home #container #content #inner-content main .home-image .overlay,
      .page-template-page-sub-home #container #content #inner-content main .home-image .overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0; }
        .home #container #content #inner-content main .home-image .overlay h3,
        .page-template-page-sub-home #container #content #inner-content main .home-image .overlay h3 {
          color: #FFF;
          text-align: center;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          position: relative;
          margin: 0 auto;
          width: 66%;
          min-width: 320px;
          text-transform: none;
          font-size: 2.8em; }
    .home #container #content #inner-content main .home-social .social-wrapper,
    .page-template-page-sub-home #container #content #inner-content main .home-social .social-wrapper {
      background-color: #E21A2D;
      height: 12em;
      width: 100%;
      margin: 4em 0;
      text-align: center; }
      .home #container #content #inner-content main .home-social .social-wrapper ul,
      .page-template-page-sub-home #container #content #inner-content main .home-social .social-wrapper ul {
        position: relative;
        display: inline-block; }
        .home #container #content #inner-content main .home-social .social-wrapper ul li,
        .page-template-page-sub-home #container #content #inner-content main .home-social .social-wrapper ul li {
          background: transparent;
          color: #FFF; }
          .home #container #content #inner-content main .home-social .social-wrapper ul li a,
          .page-template-page-sub-home #container #content #inner-content main .home-social .social-wrapper ul li a {
            background: transparent;
            color: #FFF;
            border: none; }
        .home #container #content #inner-content main .home-social .social-wrapper ul .active,
        .page-template-page-sub-home #container #content #inner-content main .home-social .social-wrapper ul .active {
          background: transparent;
          color: #FFF;
          text-decoration: underline; }
          .home #container #content #inner-content main .home-social .social-wrapper ul .active a,
          .page-template-page-sub-home #container #content #inner-content main .home-social .social-wrapper ul .active a {
            background: transparent;
            color: #FFF;
            text-decoration: underline;
            border: none; }
      .home #container #content #inner-content main .home-social .social-wrapper .tab-content,
      .page-template-page-sub-home #container #content #inner-content main .home-social .social-wrapper .tab-content {
        text-align: left;
        padding: 0 4em; }
    .home #container #content #inner-content main .staff-block-outer,
    .page-template-page-sub-home #container #content #inner-content main .staff-block-outer {
      min-height: 16em; }
    .home #container #content #inner-content main .staff-block,
    .page-template-page-sub-home #container #content #inner-content main .staff-block {
      display: block;
      height: 9.6rem;
      width: 9.6rem;
      margin: 0 auto; }
      .home #container #content #inner-content main .staff-block .image,
      .page-template-page-sub-home #container #content #inner-content main .staff-block .image {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 100%;
        overflow: hidden;
        -webkit-transform: perspective(1000px) scale(1);
                transform: perspective(1000px) scale(1);
        transition: .2s;
        border: 1px solid #FFF; }
      .home #container #content #inner-content main .staff-block img,
      .page-template-page-sub-home #container #content #inner-content main .staff-block img {
        width: 100%;
        padding: 1em; }
      .home #container #content #inner-content main .staff-block .image:hover,
      .page-template-page-sub-home #container #content #inner-content main .staff-block .image:hover {
        -webkit-transform: perspective(1000px) scale(1.025);
                transform: perspective(1000px) scale(1.025);
        box-shadow: 0rem 0rem .6rem #CCC; }

/*
* === SUB PAGES ===
*/
.sub-page #container header {
  background: #111;
  position: static; }
  .sub-page #container header #inner-header .navbar .navbar-toggle {
    color: #FFF !important; }
  .sub-page #container header #inner-header .navbar .navbar-brand:hover {
    opacity: 1; }
  .sub-page #container header #inner-header .navbar .navbar-collapse .social {
    border: none; }
  .sub-page #container header #inner-header nav ul li a:hover {
    text-decoration: underline !important; }

.sub-page #container #content {
  margin: 0; }
  .sub-page #container #content .sub-page-hero {
    position: relative;
    height: 16em;
    background-position: center; }
    .sub-page #container #content .sub-page-hero .content {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: 99; }
      .sub-page #container #content .sub-page-hero .content h1, .sub-page #container #content .sub-page-hero .content h2, .sub-page #container #content .sub-page-hero .content h3, .sub-page #container #content .sub-page-hero .content h4 {
        margin: 0; }
      .sub-page #container #content .sub-page-hero .content h1 {
        font-family: "Oswald", sans-serif;
        color: #FFF; }
      .sub-page #container #content .sub-page-hero .content p {
        font-family: "Montserrat", sans-serif;
        color: #FFF;
        width: 66%;
        min-width: 300px;
        margin: 0 auto; }
    .sub-page #container #content .sub-page-hero .overlay {
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .sub-page #container #content .simple-text-hero {
    padding-top: .2rem;
    padding-bottom: .2rem; }
    .sub-page #container #content .simple-text-hero h1 {
      font-family: "Helvetica", Arial, sans-serif;
      text-transform: none;
      margin-bottom: 0; }
    .sub-page #container #content .simple-text-hero a {
      color: #FFF; }
    .sub-page #container #content .simple-text-hero #breadcrumbs * {
      opacity: .9;
      font-size: .8rem; }
  .sub-page #container #content #inner-content {
    min-height: 90vh; }
    .sub-page #container #content #inner-content main header {
      position: relative;
      padding: 0; }
    .sub-page #container #content #inner-content main section:nth-child(even) {
      background: #F7F7F7; }
    .sub-page #container #content #inner-content .sidebar {
      margin: 0; }
      .sub-page #container #content #inner-content .sidebar .widget {
        margin: 0 0 2.4em 0; }

/*
* === MISC (DEFALT/BLOG/ETC) ===
*/
/*
* === ABOUT ===
*/
.page-template-page-about #container #content #inner-content main section .staff-block {
  min-height: 16em; }
  .page-template-page-about #container #content #inner-content main section .staff-block .image {
    position: relative;
    background-position: center;
    border-radius: 100%;
    height: calc(6em + 4vw);
    width: calc(6em + 4vw);
    background-size: cover;
    background-repeat: no-repeat; }
  .page-template-page-about #container #content #inner-content main section .staff-block .image:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .page-template-page-about #container #content #inner-content main section .staff-block .modal {
    background: rgba(0, 0, 0, 0.8); }
    .page-template-page-about #container #content #inner-content main section .staff-block .modal .image {
      position: relative;
      background-position: center;
      border-radius: 100%;
      height: calc(6em + 4vw);
      width: calc(6em + 4vw);
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0 auto 2em;
      float: none; }
    .page-template-page-about #container #content #inner-content main section .staff-block .modal img {
      width: 100%;
      max-width: 12em;
      margin: 0 0 1.2em 0; }
    .page-template-page-about #container #content #inner-content main section .staff-block .modal p {
      margin: 0;
      min-height: 2.8em;
      line-height: 1.2em; }
    @media (max-width: 768px) {
      .page-template-page-about #container #content #inner-content main section .staff-block .modal p {
        text-align: center; } }

/*
* === EXPLORE ===
*/
.page-template-page-explore {
  min-height: 100vh; }
  .page-template-page-explore .modal {
    z-index: 999999999 !important; }
  .page-template-page-explore #container #content .hero-unit {
    opacity: 0; }
  .page-template-page-explore #container #content #inner-content main section:nth-child(even) {
    background: #FFF; }
  .page-template-page-explore #container #content #inner-content main .student-life-organization-filters {
    text-align: center;
    padding: 4em 0 0 0; }
  .page-template-page-explore #container #content #inner-content main .student-life-organization-buckets {
    padding: 4em 0 0 0; }
    .page-template-page-explore #container #content #inner-content main .student-life-organization-buckets .bucket-outer {
      min-height: 18rem;
      overflow: hidden;
      padding: 2.4em 0; }
      .page-template-page-explore #container #content #inner-content main .student-life-organization-buckets .bucket-outer .bucket-inner {
        display: none; }
        .page-template-page-explore #container #content #inner-content main .student-life-organization-buckets .bucket-outer .bucket-inner .image {
          height: 12rem;
          overflow: hidden; }
          .page-template-page-explore #container #content #inner-content main .student-life-organization-buckets .bucket-outer .bucket-inner .image img {
            width: 100%;
            height: auto;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            float: left; }
  .page-template-page-explore #container #content #inner-content main .student-life-organization {
    min-height: 100vh;
    background: #E21A2D;
    position: relative; }
    .page-template-page-explore #container #content #inner-content main .student-life-organization .image {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .page-template-page-explore #container #content #inner-content main .student-life-organization .image img {
        width: 100%;
        opacity: .025; }
    .page-template-page-explore #container #content #inner-content main .student-life-organization .content {
      position: relative;
      z-index: 99; }
    .page-template-page-explore #container #content #inner-content main .student-life-organization .block {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      height: calc(6em + 12vw); }
      .page-template-page-explore #container #content #inner-content main .student-life-organization .block h5 {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        color: #FFF;
        z-index: 99;
        padding: 1em;
        width: 66%;
        min-width: 280px;
        color: #FFF;
        line-height: 1.2em;
        font-size: 1em; }
      .page-template-page-explore #container #content #inner-content main .student-life-organization .block .overlay {
        background: #111;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition-property: opacity;
        transition-duration: .2s;
        opacity: .8; }
    .page-template-page-explore #container #content #inner-content main .student-life-organization .modal {
      background: rgba(0, 0, 0, 0.9); }
      .page-template-page-explore #container #content #inner-content main .student-life-organization .modal .modal-body .image {
        height: calc(12em + 10vw);
        overflow: hidden;
        position: static; }
        .page-template-page-explore #container #content #inner-content main .student-life-organization .modal .modal-body .image img {
          width: 100%;
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          float: left;
          opacity: 1; }
      .page-template-page-explore #container #content #inner-content main .student-life-organization .modal .modal-body .content {
        margin: 1.2em 0; }
    .page-template-page-explore #container #content #inner-content main .student-life-organization .block:hover h5 {
      background: rgba(0, 0, 0, 0.8);
      color: #FFF; }
    .page-template-page-explore #container #content #inner-content main .student-life-organization .block:hover .overlay {
      opacity: 0; }

/*
* === TRADITIONS ===
*/
.page-template-page-traditions #container #content #inner-content main .nu-tradition h3 {
  margin: 0 0 1.2em 0; }

.page-template-page-traditions #container #content #inner-content main .nu-tradition .block {
  margin: 0 0 2.8em 0;
  min-height: 9.6em; }
  .page-template-page-traditions #container #content #inner-content main .nu-tradition .block .modal {
    background: rgba(0, 0, 0, 0.9); }
    .page-template-page-traditions #container #content #inner-content main .nu-tradition .block .modal .modal-body .image {
      height: calc(12em + 10vw);
      overflow: hidden;
      min-height: 24em; }
      .page-template-page-traditions #container #content #inner-content main .nu-tradition .block .modal .modal-body .image img {
        width: 100%;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        float: left; }
    .page-template-page-traditions #container #content #inner-content main .nu-tradition .block .modal .modal-body .content {
      margin: 1.2em 0; }
  .page-template-page-traditions #container #content #inner-content main .nu-tradition .block .image {
    max-height: 9.6em;
    overflow: hidden;
    border-radius: .1em;
    height: 48vh; }
    .page-template-page-traditions #container #content #inner-content main .nu-tradition .block .image img {
      width: 100%;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }

/*
* === EVENTS ===
*/
/*
* === BLOG ===
*/
.blog #container #content .hero,
.search #container #content .hero,
.error404 #container #content .hero {
  position: relative;
  height: 16em;
  background-position: center; }
  .blog #container #content .hero .content,
  .search #container #content .hero .content,
  .error404 #container #content .hero .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 99; }
    .blog #container #content .hero .content h1, .blog #container #content .hero .content h2, .blog #container #content .hero .content h3, .blog #container #content .hero .content h4,
    .search #container #content .hero .content h1,
    .search #container #content .hero .content h2,
    .search #container #content .hero .content h3,
    .search #container #content .hero .content h4,
    .error404 #container #content .hero .content h1,
    .error404 #container #content .hero .content h2,
    .error404 #container #content .hero .content h3,
    .error404 #container #content .hero .content h4 {
      margin: 0; }
    .blog #container #content .hero .content h1,
    .search #container #content .hero .content h1,
    .error404 #container #content .hero .content h1 {
      font-family: "Oswald", sans-serif;
      color: #FFF; }
    .blog #container #content .hero .content p,
    .search #container #content .hero .content p,
    .error404 #container #content .hero .content p {
      font-family: "Montserrat", sans-serif;
      color: #FFF;
      width: 66%;
      min-width: 300px;
      margin: 0 auto; }
  .blog #container #content .hero .overlay,
  .search #container #content .hero .overlay,
  .error404 #container #content .hero .overlay {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.blog #container #content #inner-content main article,
.search #container #content #inner-content main article,
.error404 #container #content #inner-content main article {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #CCC;
  margin-bottom: 2.4vw;
  padding-bottom: 2.4vw; }
  .blog #container #content #inner-content main article header h1,
  .search #container #content #inner-content main article header h1,
  .error404 #container #content #inner-content main article header h1 {
    margin: 0; }
  .blog #container #content #inner-content main article header .row,
  .search #container #content #inner-content main article header .row,
  .error404 #container #content #inner-content main article header .row {
    margin: 0 0 2.4em 0; }
  .blog #container #content #inner-content main article header h2 a,
  .search #container #content #inner-content main article header h2 a,
  .error404 #container #content #inner-content main article header h2 a {
    font-family: "Oswald", sans-serif;
    font-size: calc(1.2rem + 2.4vw);
    opacity: .8; }
  .blog #container #content #inner-content main article header h2 a:hover,
  .search #container #content #inner-content main article header h2 a:hover,
  .error404 #container #content #inner-content main article header h2 a:hover {
    opacity: 1;
    text-decoration: none; }
  .blog #container #content #inner-content main article header .byline,
  .search #container #content #inner-content main article header .byline,
  .error404 #container #content #inner-content main article header .byline {
    font-size: .8em;
    font-style: normal;
    opacity: .5; }
  .blog #container #content #inner-content main article section,
  .search #container #content #inner-content main article section,
  .error404 #container #content #inner-content main article section {
    padding: 0; }
    .blog #container #content #inner-content main article section p,
    .search #container #content #inner-content main article section p,
    .error404 #container #content #inner-content main article section p {
      margin: 1.2rem 0; }
  .blog #container #content #inner-content main article footer,
  .search #container #content #inner-content main article footer,
  .error404 #container #content #inner-content main article footer {
    background: transparent;
    padding: 0; }
    .blog #container #content #inner-content main article footer p,
    .search #container #content #inner-content main article footer p,
    .error404 #container #content #inner-content main article footer p {
      font-size: .8rem; }

.blog #container #content #inner-content main article:nth-last-child(1),
.search #container #content #inner-content main article:nth-last-child(1),
.error404 #container #content #inner-content main article:nth-last-child(1) {
  border: none; }

/*
* === SINGLE ===
*/
.single #container #content .jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .single #container #content .jumbotron .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.333); }
  .single #container #content .jumbotron .content {
    position: relative;
    z-index: 999; }
    .single #container #content .jumbotron .content h1, .single #container #content .jumbotron .content h2, .single #container #content .jumbotron .content h3, .single #container #content .jumbotron .content p {
      margin: 0;
      max-width: 992px; }

.single #container #content #inner-content main article {
  margin: 0 0 4.8em 0;
  border: none; }
  .single #container #content #inner-content main article section {
    padding: 0; }

/*
* === SEARCH ===
*/
.search #container #content .jumbotron h3 {
  margin: 0.67em 0;
  font-weight: bold; }
  .search #container #content .jumbotron h3 span {
    font-weight: 300; }

.search #container #content #inner-content main article {
  margin: 0 0 4.8em 0;
  border: none; }
  .search #container #content #inner-content main article section {
    padding: 0; }

@media (max-width: 992px) {
  body #container header .drawer {
    border-bottom: 1px solid #333; }
    body #container header .drawer .drawer-inner .drawer-content ul li {
      padding: 15px;
      margin: 0 0 15px;
      width: 100%; }
  body #container header #inner-header .navbar .navbar-collapse ul {
    padding: 1.2rem 0; }
    body #container header #inner-header .navbar .navbar-collapse ul li {
      border-bottom: 1px solid #111;
      padding: .4rem 0;
      margin: .4rem 0; }
      body #container header #inner-header .navbar .navbar-collapse ul li a {
        padding: 0; }
    body #container header #inner-header .navbar .navbar-collapse ul li:nth-last-child(1) {
      border: none; } }
/*# sourceMappingURL=custom.css.map */