body {
	
	.btn {
		background:$red;
		border-radius: 0;
		padding: 1em;
		min-width: 10em;
		color: #FFF;
		font-family: "Montserrat", Sans-serif;
		font-size: .9em;
		opacity: .9;
		transition-duration: .2s;
		transition-property: opacity;
		margin:15px 0;
	}

	.btn:hover {
		opacity: 1;
		color:#FFF;
	}

	.btn:active {
		color:#FFF;
	}

	.btn:focus {
		color:#FFF;
	}

	.btn:visited {
		color:#FFF;
	}

	.btn:visited:hover {
		color:#FFF;
	}

	.btn.transparent,
	.btn.transparent:visited,
	.btn.transparent:active {
		border:medium solid #FFF;
		background:transparent !important;
		color:#FFF;
		width:100%;
		max-width: 10em;
	}

	.btn.transparent:hover {
		border:medium solid #FFF;
		background:#FFF;
		color:$red;
	}
}