// $h1-font-size: 4.8em;
// $h2-font-size: 3.6em;
// $h3-font-size: 2em;
// $h4-font-size: 1.4em;
// $p-font-size: 1.2em;

body {
	color: #4e4541 !important;
	font-family: $body-font;
	
	h1, h2 {
		color:$brown;
		font-family: $heading-font;
		font-weight: 300;
		text-transform: uppercase
	}

	h3, h4, h5 {
		color:$brown;
		//font-family: $subheading-font;

	}

	h1 {
		font-size: $h1-font-size;
		font-weight: 300;
		text-transform: uppercase;
	}

	h2 {
		font-size: $h2-font-size;
		color:$brown;
		font-weight: 300;
		text-transform: uppercase;
		font-family: $heading-font;
		line-height: 1;
		margin-bottom:.5rem;
	}

	h3 {
		font-size: $h3-font-size;
		font-weight: 300;
		color:$red;

		a {
			font-family: $subheading-font;
			cursor: pointer;
			text-decoration: none;
		}
	}

	h4 {
		color:$brown;

		a {
			font-family: $subheading-font;
			cursor: pointer;
			text-decoration: none;
		}
	}

	p,
	dt,
	abbr,
	.tribe-events-abbr {
		//color: #111;
		font-size: $p-font-size;
		font-family: $body-font;
		//color:$brown;
	}

	dd {
		margin-bottom: 1.2rem;
	}	

	a {
		outline:0 !important;
		color:#E21A2D;
		font-family: $body-font;

	}

	a:hover {
		//text-decoration: none;
	}

	span {
		font-family: $body-font;
	}

	.lead {
    	font-size: 1.5rem;
	}

	ul {
		list-style-type: disc !important;
		padding: 0 0 0 1em;
		margin:0;

		li {
			list-style-type: disc;
			margin-bottom:0;
			font-size: $p-font-size;
		}
	}

	.styled-header .bold {
		font-weight: bold;
	}

	.handwritten {
		//font-family: 'Just Another Hand', cursive;
		//font-family: 'Permanent Marker', cursive;
		font-family: 'Gochi Hand', cursive;
	}

	.white {
		color:#FFF;
	}

	.red {
		color:$red;
	}

	.center-on-mobile {

	}

	@media only screen and (max-width: 960px) {
		
		.center-on-mobile {
			display:block;
			text-align: center;
			margin:.6em auto !important;
		}
	}
}

@media only screen and (max-width: 960px) {
	
	body {
		
		h1, h2, h3, h4 {
			text-align: center;
		}

		h1 {
			font-size: calc(#{$h1-font-size} * .8);
		}

		h2 {
			font-size: calc(#{$h2-font-size} * .8);
		}

		h3 {
			font-size: calc(#{$h3-font-size} * .8);
		}

		h4 {
			font-size: calc(#{$h4-font-size} * .8);	
		}
	}
}

@media only screen and (max-width: 480px) {
	
	body {

		h1 {
			font-size: calc(#{$h1-font-size} * .6);
		}

		h2 {
			font-size: calc(#{$h2-font-size} * .6);
		}

		h3 {
			font-size: calc(#{$h3-font-size} * .6);
		}

		h4 {
			
		}
	}
}