$red: #E21A2D;
$brown: #524030;

$get-involved: #e98243;
$get-connected: #009097; 
$get-situated: #90bc3f;
$get-support: #ebb330;
$get-healthy: #5086B9;

$h1-font-size: 4.8rem;
$h2-font-size: 3.6rem;
$h3-font-size: 2rem;
$h4-font-size: 1.4rem;
$p-font-size: 1.1rem;

$heading-font: 'Oswald', sans-serif;
$subheading-font: 'Montserrat', sans-serif;
$body-font: 'Helvetica', Arial, sans-serif;