body {

	.btn {
		//background:$red;
		border-radius: 0;
		padding: 1em;
		min-width: 10em;
		color: #FFF;
		font-family: "Montserrat", Sans-serif;
		font-size: .9em;
		opacity: .9;
		transition-duration: .2s;
		transition-property: opacity;
	}

	.btn:hover {
		opacity: 1;
		color:#FFF;
	}

	.btn:active {
		color:#FFF;
	}

	.btn:focus {
		color:#FFF;
	}

	.btn:visited {
		color:#FFF;
	}

	.btn:visited:hover {
		color:#FFF;
	}

	.btn.transparent {
		border:medium solid #FFF;
		background:transparent;
		color:#FFF;
		width:100%;
		max-width: 16em;
	}

	.btn.transparent:hover {
		border:medium solid #FFF;
		background:#FFF;
		//color:$red;
	}
}
