body {

	.margin-vertical-2 {
		margin:2em 0;
	}

	.margin-0-auto {
		margin:0 auto;
		clear:both;
		display:block;
		float:none;
	}

	.margin-1-auto {
		margin:1em auto;
		clear:both;
		display:block;
		float:none;
	}
	
	.padding-0 {
		padding:0 !important;
	}

	.lead {
		
	}
}