// $h1-font-size: 4.8em;
// $h2-font-size: 3.6em;
// $h3-font-size: 2em;
// $h4-font-size: 1.4em;
// $p-font-size: 1.2em;

body {
	color: #4e4541 !important;
	font-family: $body-font;

	h1, h2 {
		color:#111;
		font-family: $heading-font;
		font-weight: 300;
		text-transform: uppercase
	}

	h3, h4, h5 {
		font-family: $subheading-font;

	}

	h1 {
		font-size: $h1-font-size;
		font-weight: 300;
		text-transform: uppercase;
	}

	h2 {
		font-size: $h2-font-size;
		color:$brown;
		font-weight: 300;
		text-transform: uppercase;
		font-family: $heading-font;
		margin:0;
	}

	h3 {
		font-size: $h3-font-size;
		font-weight: 300;

		a {
			font-family: $subheading-font;
			cursor: pointer;
			text-decoration: none;
		}
	}

	h4 {
		font-size: $h4-font-size;
		font-weight: 500;

		a {
			font-family: $subheading-font;
			cursor: pointer;
			text-decoration: none;
		}
	}

	p {
		font-size: $p-font-size;
		font-family: $body-font;
		color:$brown;
		line-height: 1.8rem;
	}

	a {
		outline:0 !important;
		font-family: $body-font;
		text-decoration: none !important;

	}

	a:hover,
	a:active,
	a:focus {
		text-decoration: none;
	}

	ul {
		list-style-type: disc !important;
		padding: 0 0 0 1em;

		li {
			list-style-type: disc !important;
			margin-bottom:0;
		}
	}

	.styled-header .bold {
		font-weight: bold;
	}

	.handwritten {
		//font-family: 'Just Another Hand', cursive;
		//font-family: 'Permanent Marker', cursive;
		font-family: 'Gochi Hand', cursive;
	}

	.white {
		color:#FFF;
	}

	.red {
		color:$red;
	}

	.center-on-mobile {

	}

	@media only screen and (max-width: 960px) {

		.center-on-mobile {
			display:block;
			text-align: center;
			margin:.6em auto !important;
		}
	}
}

@media only screen and (max-width: 960px) {

	body {

		h1, h2, h3, h4 {
			text-align: center;
		}

		h1 {
			font-size: calc(#{$h1-font-size} * .8);
		}

		h2 {
			font-size: calc(#{$h2-font-size} * .8);
		}

		h3 {
			font-size: calc(#{$h3-font-size} * .8);
		}

		h4 {
			font-size: calc(#{$h4-font-size} * .8);
		}
	}
}

@media only screen and (max-width: 480px) {

	body {

		h1 {
			font-size: calc(#{$h1-font-size} * .6);
		}

		h2 {
			font-size: calc(#{$h2-font-size} * .6);
		}

		h3 {
			font-size: calc(#{$h3-font-size} * .6);
		}

		h4 {

		}
	}
}
