$red: #E21A2D;
$brown: #524030;

//ORGANIZATION CATEGORY VARIABLES

$orange: #e98243;
$teal: #009097;
$green: #90bc3f;
$yellow: #ebb330;
$blue: #5086b9;

$h1-font-size: 4.8em;
$h2-font-size: 3.6em;
$h3-font-size: 2em;
$h4-font-size: 1.4em;
$p-font-size: 1.1em;

$heading-font: 'Oswald', sans-serif;
$subheading-font: 'Montserrat', sans-serif;
$body-font: Arial, sans-serif;
