//meow

html {
	font-size:100%;
	//overflow-x: hidden;
}

.sub-page {
	background: transparent;
}

/*
* === GENERAL ===
*/

#container #content #inner-content main section:nth-child(even) {
    background: #F7F7F7;
}

.drawer {
	background-color:#2B2727;
	z-index:999;
	position: relative;

	.drawer-inner {

		.drawer-header {
			transition-property: background;
			transition-duration: .2s;
			height:auto;
			background-color:#F7F7F7;

			.drawer-header-inner {
				height:auto;

				.navbar {
					border: none;
					background: none;
					margin: 0;
					height: 2.8rem;

					.division-of-student-affairs {
						font-variant: small-caps;
						line-height: 2.8rem;
						margin-right: .6em;
						font-size: 1.4em;
						@media (min-width: 530px) {
							position: absolute;
							right: 2.4rem;
							height: 100%;
						}
					}

					.student-affairs-menu-bar{
						float:left;
						width: 100%;
						@media (max-width: 530px) {
							height: 50px;
						}
						@media (min-width: 530px){
							float: none;
							width: auto;
						}
					}

					.navbar-header {
						float:left;
						height: 30px;
						@media (min-width: 530px) {
							float: none;
							height: auto;
							position: relative;
							top: 50%;
							transform: translateY(-50%);
							float:left;
						}

						.navbar-brand {
							min-width: 12em;
							width: 18vw;
							max-width: 24em;
							padding: 0;
							height: auto;
							margin:0;
							@media (max-width: 530px) {
								margin-top: 15px;
							}

							img {
								min-width: 10em;
								width: 18vw;
								max-width: 18em;
								height: auto;
								line-height: 0;
								display: block;
							}
						}
					}

					.drawer-handle {
						//margin-top: 15px;
						@media (min-width: 530px) {
							/*
							position: relative;
							top: 50%;
							transform: translateY(-50%);
							float:right;
							*/
						}

						.navbar-toggle {
								border: none;
								position: relative;
								margin:0;
								margin-top: 7px;

								.icon-bar {
									background-color: red;
							}
						}

						.glyphicon-remove {
							color:$red;
							font-size: 1.6em;
							cursor:pointer;
						}

						.glyphicon-chevron-down {
							color:$red;
							font-size: 1.6em;
							cursor:pointer;
							display:none;
						}
					}
				}
			}
		}

		.drawer-header:hover {

		}

		.drawer-content {
			display:none;
			height: auto;
			//padding: 2.4em 0 !important;

			.drawer-content-inner {
				padding: 0 0 4em 0;

				.logo {
					margin:0;

					img {
						width: 100%;
						max-width: calc(6em + 1vw);
						margin: 1.2em 0;
					}
				}

				.social {
					display: block;
					height: 7.2em;

					a {
						margin: 0 .6em 0 0;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						float:right;

						i {
							font-size: 1.8em;
							color:$red;
							opacity: .8;
						}

						i:hover{
							opacity: 1;
						}
					}
				}

				.drawer-menu {
					-webkit-column-count: 3; /* Chrome, Safari, Opera */
					-moz-column-count: 3; /* Firefox */
					column-count: 3;
					height: auto;

					.student-life-organization-block {
						min-height: 12em;
						display: inline-block;
						width:100%;
						height:auto;
						position:relative;
						top:0;
						left:0;

						h3 {
							font-size: 1.6em;
							margin:0;
						}

						ul {


							li {
								display: block;

								a {
									color:#FFF;
									display: block;


								}
							}
						}
					}
				}


				@media (max-width: 1170px) {

					.drawer-menu {
						-webkit-column-count: 2; /* Chrome, Safari, Opera */
						-moz-column-count: 2; /* Firefox */
						column-count: 2;

						.student-life-organization-block {
							min-height: 0em;

							h3 {
								margin: .2em 0 .6em 0;
							}
						}

					}
				}

				@media (max-width: 768px) {

					.drawer-menu {
						-webkit-column-count: 1; /* Chrome, Safari, Opera */
						-moz-column-count: 1; /* Firefox */
						column-count: 1;
						text-align: center;
						margin:0 auto;

						h3 {
							text-align: center;
						}

						ul {
							margin:0 auto;
							max-width:380px;
							width:100%;
							display: inline-block;
							display:none;
							padding:0 15px;

							li {
								text-align: left;
							}
						}
					}
				}
			}
		}
	}
}

body {

	#container {

		header {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			z-index: 999;
			background: rgba(0,0,0,.9);


			/*
			* — Drawer —
			*/



			#inner-header {
				height: 5.6rem;

				.container-fluid {
					height:100%;
				}

				.navbar {
					background:none;
					border:none;
					margin:0;
					height: 100%;

					.navbar-header {
						height: 100%;

						.navbar-brand {
							height: 100%;
							padding:0;

							a {
								position: relative;
								top: 50%;
								transform: translateY(-50%);
								float:left;
								color:#FFF;
								text-transform: uppercase;
								font-family:$heading-font;
								font-size: 1.8em;
								opacity: .8;
								transition-property: opacity;
								transition-duration: .2s;

								img {
									width: 20vw;
									max-width: 24em;
									min-width: 10em;
								}
							}

							a:hover {
								opacity: 1;
								text-decoration: none;
							}
						}

						.navbar-toggle {
							border:none;
							margin:0;
							padding:1;
							//color:$red; //this is now controlled with the mixin setThemeColor()
							font-size: 1.2em;
							position: relative;
							top: 50%;
							transform: translateY(-50%);
							float:right;
							cursor:pointer;
							background:none;
						}

					}

					.navbar-collapse {
						height:100% !important;

						ul {
							//float:right;
							position: relative;
							top: 50%;
							transform: translateY(-50%);

							li {
								padding: .6em 0;
								margin: 0 .6vw;

								a {
									padding:0;
									font-size: 1.2em;
									color:#FFF;
									font-family: $heading-font;
									text-transform:uppercase;
									opacity: .9;
								}

								a:hover {
									background:transparent;
									color:$red;
									text-decoration: none !important;
									opacity: 1;
								}

								.sub-menu {
									position: absolute;
									top: 2.4em;
									transform: translateY(0);

									li {

										a {

										}
									}
								}
							}

							.current_page_item {
								border-bottom: 2px solid #FFF;

								a {
									opacity: 1;
								}
							}

							li:nth-last-child(1){

								a {
									padding:0 0 0 .6vw;
								}
							}

							li:hover {
								background:transparent;
							}
						}
					}

					@media (max-width: 767px) {

						.navbar-collapse {
							border:none;
							height:auto !important;
							z-index: 999;
							position: relative;

							ul {
								background:rgba(0,0,0,.8);
								position: relative;
								top: 0;
								transform: translateY(0%);
								padding:0 15px 1.2em;

								li {
									display:block;
									margin:1em 0;

									a {

									}

									a:hover {

									}

									.sub-menu {
										display:none;

										li {

											a {

											}
										}
									}
								}

								li:nth-last-child(1){

									a {

									}
								}

								li:hover {

								}
							}
						}
					}
				}
			}
		}

		#content {
			background:#FFF;

			#inner-content {

				main {

					header {
						background:transparent;
						border:none;

						h1 {

						}

						p {

						}
					}

					section {

					}

					.sub-domain-blog-grid {

						.image {
							height:12em;
							overflow:hidden;

							img {
								width:100%;
								height:auto;
								position: relative;
								top: 50%;
								transform: translateY(-50%);
							}
						}


					}

					.sub-domain-full-width-text-block {

						h4 {
							margin:.6em auto;
						}
					}

					.sub-domain-full-bleed-image-block {
						padding:0 !important;
						position:relative;

						.container-fluid {
							height:100vh;
							background-color:$red;

							.content {
								z-index: 99;
								position: relative;
								top: 50%;
  								transform: translateY(-50%);

  								h2, h3, h4, p {
  									color:#FFF;
  								}
							}

							.overlay {
								position: absolute;
								top:0;
								left:0;
								background:rgba(0,0,0,.666);
								width:100%;
								height:100%;
							}
						}

					}

					.sub-domain-wysiwyg {

						img {
							width:100%;
							height:auto;
						}
					}

					.subdomain-image-text-grid {
						padding:0 !important;

						.block {
							height:66vh;
							min-height: 24em;
							background-size:cover;
							background-position:center;
							background-repeat:no-repeat;
							border:2px solid #FFF;

							.content {
								position: relative;
								top: 50%;
								transform: translateY(-50%);
								z-index: 99;

								h2, h3, h4, p {
									color:#FFF;
								}
							}

							.overlay {
								position:absolute;
								top:0;
								left:0;
								width:100%;
								height:100%;
								background:rgba(0,0,0,.666);
							}

						}
					}

					footer {

					}
				}

				.sidebar {

					.widget {

						h4 {
							border:none;
						}

						ul {

							li {
								margin:0;
							}
						}
					}

				}
			}
		}

		footer {
			background:#111;

			input[type="text"],
			input[type="email"],
			select{
				background-color: #424242;
				color: #eaedf2;
			}

			select{
				background-image: url('../images/arrow-light.png');
			}

			img {
				max-width: 12em;
				padding:1.2em;
			}

			.footer-row{
				padding: 30px 0;
			}

			.footer-logo {
			}



			.widget {
				margin:1.2em 0;

				.widgettitle {
					border-bottom: none;
					margin-bottom: .4em;
					font-size: calc(1.2em + 1vw);
					//color: $red;
					font-family: $heading-font;
					text-transform:uppercase;
				}

				.social {
					margin:0 .2em 0 0;
					padding:0;

					a {
						line-height: 0em;

						i {
							margin:0 .2em 0 0;
							font-size:1.6em;
							opacity: .8;
						}

						i:hover {
							opacity: 1;
						}
					}

					p {
						font-size: 1em;
						margin:0;
					}
				}

				i {
					//color:$red;
					font-size:1.2em;
				}
			}





			h4 {
				margin:0;
			}

			p {
				margin:0;
			}

			.copyright {
				background-color:#E7E7E7;
				padding:1.2em 0;

				p {
					font-size: .8em;
					font-weight: bold;
				}
			}

			.universal-footer {
				padding:1em;
				text-align: center;
				background:#636363;

				.wrapper {
					position: relative;

					.left {
						position: relative;

						.logo {
						    background: url("https://www.northeastern.edu/neuhome/images/logo-footer.png") no-repeat scroll left top transparent;
							color: #FFFFFF;
							float: left;
							font-family: Georgia,Times,Arial,serif;
							font-size: 18px;
							height: 17px;
							margin-right: 20px;
							padding: 0;
							text-decoration: none;
							width: 173px;

						}
					}

					.right {
						position: relative;

						.info {
							margin:0 0 1em 0;
							clear:both;
							padding:0;

							li {
								float: left;
								margin-right: 1em;
								list-style-type: none !important;
								line-height: .1em;

								a {
									color: white;
									font-size: .8em;
									margin: 0 1em 0 0;
								}
							}

							li::after {
							    content: "\00b7";
							}

							// li:last-child {
							// 	display: none;
							// }

							li:last-child::after {
							    content: "";
							    margin-right: 0;
							    padding-right: 0;
							}
						}


						.contact {
							font-size: .7em;
							text-align: left;
							color: #CCC;
						}
					}
				}
			}
		}
	}
}




/*
* === HOME ===
*/

.page-template-page-home {

	#container {

		header {
			z-index: 999;
			//display:none;
			//opacity: 0;

			#inner-header {

				nav {

					ul {

						li {

							a {

							}
						}
					}
				}
			}
		}

		#content {
			margin:0;


			.hero {
				// height:100vh;
				// min-height: 48em;
				// background-size:cover;
				// background-position:center;
				// margin:0;
				min-height: 36em;

				.image-hero {
					height: 100vh;
					width: 100vw;
					background-size: cover;
					background-position: center;
				}


				.video-hero {
					display: block;
					height: auto;
					overflow: hidden;
					max-height: 100vh;
					position: relative;
					min-height: 24em;


					.overlay {
						background-image:url('../images/hero-overlay.png');
						background-repeat:repeat;
						z-index: 99;
						position:absolute;
						top:0;
						left:0;
						height:100%;
						width:100%;

						.carousel {
							height:100%;
							z-index: 99;
							position: relative;
							display: none;

							.carousel-inner {
								position: absolute;
								bottom:calc(12em + 4vw);

								h2, h3 {
									color:#FFF !important;
									margin:0;
									text-transform: none;
								}

								h2 {
									font-size: calc(2em + 4vw);
								}

								h3 {
									font-size: calc(1em + 3vw);
								}
							}
						}
					}
				}

				.hero-inner {
					position: relative;
					height: 100%;
					width: 100%;
					left: 0;
					top: 0;
					z-index: 99;

					.events-wrapper {
						position: absolute;
						bottom: 0;
						width: 100%;
						left: 0;
						display: none;

						.logo {
							position: absolute;
							height:100%;
							margin:0;

							img {
								width: 100%;
								max-width: 20vw;
								position: absolute;
								bottom: 0;
								height: auto;
							}
						}

						.event-wrapper-outer {
							margin:0
						}

						.event-wrapper {
							text-align: center;
							margin: 0;
							height: calc(6em + 1vw);

							#lw {
								background:none;
								position:relative;
								top: 50%;
								transform: translateY(-50%);

								.lw {

									#lwe {


										.lwe {
											border:none;
											float:left;
											list-style: none !important;


											i {
												color:#FFF;
												font-size: calc(.6em + .6vw);
											}

											.lwn {
												display: block;

												span {
													display: block;
													color:#FFF;
													width:100%;
													clear:both;
													font-family: $subheading-font;
												}

												a {
													color:#FFF;
													display: block;
													width:100%;
													clear:both;
													font-family: $subheading-font;
													font-size: calc(.6em + 1vw);
													margin:0 0 .2em 0;
												}


											}

											.lwd {

												span {

												}
											}

											.lwl {
												display:none;

												span {

												}

												a {

												}
											}
										}
									}

								}
							}
						}

						.event-button {
							margin: 0;
							height: calc(6em + 1vw);

							.btn {
								min-width: 6em !important;
								width: 100%;
								max-width: 18rem;
								position:relative;
								top: 50%;
								transform: translateY(-50%);
							}
						}
					}

					.content {
						background:rgba(0,0,0,.8);


						h2 {
							color:#FFF;
						}

						p {
							color:#FFF;
						}
					}
				}
			}

			#inner-content {
				min-height: 100vh;

				main {

					section {
						padding:6em 0;
					}

					.home-explore {

						h3 {
							margin-bottom:2rem;
						}

						.student-life-organization-block {
							padding: 1em 1vw;
							position: relative;
							height: 100vh;
							min-height: 100vh;

							.image {
								position: absolute;
								top:0;
								left:0;
								width:100%;
								height:100%;
								text-align: center;
								overflow:hidden;

								img {
									opacity: .1;
									width:100%;
									width:auto;
									margin:0 auto;
									position:relative;
									top: 50%;
									transform: translateY(-50%);
								}
							}

							.content {
								position: relative;
								z-index: 99;

								h3 {
									font-family: $heading-font;
									margin: 0;
									color: #FFF;
									text-transform: uppercase;
									font-size:calc(2.4em + 2vw);
								}

								ul {
									-webkit-column-count: 2; /* Chrome, Safari, Opera */
								    -moz-column-count: 2; /* Firefox */
								    column-count: 2;
								    display: block;
								    margin:2.4em 0 0 0;

									li {
										list-style-type: none !important;
										padding: 0 1.2em .6em 1.2em;
										display: inline-block;
										line-height: 1.2em;
										width: 100%;

										i {
											font-size: inherit;
											color:#FFF;

										}

										a {
											color:#FFF;
											font-family: $subheading-font;
											font-weight: 300;
											font-size:calc(1em + .4vw);
										}
									}
								}

								@media (max-width: 768px) {

									ul {
										-webkit-column-count: 1; /* Chrome, Safari, Opera */
									    -moz-column-count: 1; /* Firefox */
									    column-count: 1;
									}
								}

								.student-life-organization-block-quote {
									font-size: 2em;
									color: #FFF;
									margin: 2.4em calc(1em + 2vw);;
									line-height: 1.2em;
									font-style: italic;
									text-align: center;

									span {
										font-size: 4em;
									}
								}
							}
						}
					}

					.home-image {
						height:100vh;
						min-height: 24em;
						position:relative;

						.overlay {
							position: absolute;
							background-color:rgba(0,0,0,.8);
							height:100vh;
							width:100%;
							top:0;
							left:0;

							h3 {
								color: #FFF;
								text-align: center;
								top: 50%;
								transform: translateY(-50%);
								position: relative;
								margin: 0 auto;
								width: 66%;
								min-width: 320px;
								text-transform: none;
								font-size:2.8em;
							}
						}
					}

					.home-social {

						.social-wrapper {
							background-color:$red;
							height:12em;
							width:100%;
							margin:4em 0;
							text-align: center;

							ul {
								position: relative;
								display: inline-block;

								li {
									background:transparent;
									color:#FFF;

									a {
										background:transparent;
										color:#FFF;
										border:none;
									}
								}

								.active {
									background:transparent;
									color:#FFF;
									text-decoration: underline;

									a {
										background:transparent;
										color:#FFF;
										text-decoration: underline;
										border:none;
									}
								}
							}

							.tab-content {
								text-align: left;
								padding:0 4em;
							}
						}
					}

					.staff-block-outer {
						min-height:16em;
					}

					.staff-block {
						display:block;
						height:9.6em;
						width:9.6em;
						margin:0 auto;
						min-height: 16em;

						.image {
							//height: 100%;
							height:calc(6em + 4vw);
							width:calc(6em + 4vw);
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
							border-radius: 100%;
							overflow: hidden;
						}

						img {
							width:100%;
							padding:1em;
						}
					}

					footer {

					}
				}

				.sidebar {

				}
			}
		}

		footer {

		}
	}
}


/*
* === SUBDOMAIN HOME ===
*/

.page-template-page-subdomain-home {

	#container {

		header {

			#inner-header {

				nav {

					ul {

						li {

							a {

							}
						}
					}
				}
			}
		}

		#content {

			.hero-unit {
				position: relative;
				height: 36em;
				background-position: center;
				//background-color: $red;

				.content {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					z-index: 99;

					h1, h2, h3, h4 {
						margin:0;
					}

					h1 {
						font-family: $heading-font;
						color:#FFF;
					}

					p {
						font-family:$subheading-font;
						color:#FFF;
						width:66%;
						min-width: 300px;
						margin:0 auto;
					}
				}

				.overlay {
					background:rgba(0,0,0,.8);
					position: absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
				}
			}

			#inner-content {
				min-height: 100vh;

				main {

					section {
						padding:4em 0;
					}

					section:nth-child(even) {
						background:#F1F1F1;
					}

					footer {

					}
				}

				.sidebar {

				}
			}
		}

		footer {

		}
	}
}



/*
* === SUB PAGES ===
*/

.sub-page {

	#container {

		header {
			//background:$red;
			position: static;

			#inner-header {

				position: relative;
				z-index: 9999;

				.navbar {

					.navbar-header {

						.navbar-toggle {
							color:#FFF !important;
						}

					}

					.navbar-collapse {

						ul {
							//padding:1.2em 15px;
						}
					}
				}

				nav {

					ul {

						li {

							a {

							}

							a:hover {
								color:#FFF !important;
								text-decoration: underline !important;
							}
						}
					}
				}
			}
		}

		#content {
			margin:0;

			.hero-unit {
				position: relative;
				height: 16em;
				background-position: center;
				background-size: cover;

				.content {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					// float:left;
					z-index: 99;

					h1, h2, h3, h4 {
						margin:0;
					}

					h1 {
						font-family: $heading-font;
						color:#FFF;
					}

					p {
						font-family:$subheading-font;
						color:#FFF;
						width:66%;
						min-width: 300px;
						margin:0 auto;
					}
				}

				.overlay {
					background:rgba(0,0,0,.8);
					position: absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
				}
			}

			#inner-content {
				min-height: 70vh; //formerly 90

				main {

					header {
						position: relative;
						padding:0;

						h1 {

						}

						p {

						}
					}

					section {
						padding:4em 0;
					}

					section:nth-child(even) {
					    background: #F7F7F7;
					}

					.sub-page-content {
						display: block;

						h2 {
							margin:0;
						}

						p {
							margin:1em 0;
						}
					}

					footer {

					}
				}

				.sidebar {
					margin:2em 0 0 0;

					.widget {
						margin:0 0 2.4em 0;

						ul {
							padding:0;

							li {
								list-style-type: none !important;

								a {

								}
							}
						}
					}
				}
			}
		}

		footer {

		}
	}
}




/*
* === MISC (DEFALT/BLOG/ETC) ===
*/

.page-template-default,
.error404 {

	#container {

		#content {
			//a change was made
			padding:0 0 0 0;

			#inner-content {

				main {

					header {

						h1 {

						}

						p {

						}
					}

					section {

					}

					footer {

					}
				}
			}
		}

		footer {

		}
	}
}




/*
* === ABOUT ===
*/

.staff-block-container--default-page{ //provisional class so staff module on home page doesn't break
	.staff-block {
		min-height: 16em;

		.image {
			position: relative;
			background-position:center;
			border-radius:100%;
			height:calc(6em + 4vw);
			width:calc(6em + 4vw);
			background-size:cover;
			background-repeat:no-repeat;
		}

		.image:after {
			content: "";
			display: block;
			padding-bottom: 100%;
		}

		.modal {
			background:rgba(0,0,0,.8);

			.image {
				position: relative;
				background-position:center;
				border-radius:100%;
				height:calc(6em + 4vw);
				width:calc(6em + 4vw);
				background-size:cover;
				background-repeat:no-repeat;
				margin:0 auto 2em;
				float: none;
			}

			img {
				width:100%;
				max-width: 12em;
				margin:0 0 1.2em 0;
			}

			p {
				margin:0;
				min-height: 2.8em;
				line-height: 1.2em;
			}

			@media (max-width: 768px) {
				p {
					text-align: center;
				}
			}
		}
	}
}

.page-template-page-about {

	#container {

		#content {

			#inner-content {

				main {

					header {

						h1 {

						}

						p {

						}
					}

					section {


					}

					footer {

					}
				}
			}
		}

		footer {

		}
	}
}




/*
* === EXPLORE ===
*/

.resource-item--anchor{
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.student-life-organization-filters {
	text-align: center;
	padding:4em 0 0 0!important;



	button {
		-webkit-transition: padding 300ms cubic-bezier(0.47, 0, 0.745, 0.715), transform 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
		transition: padding 300ms cubic-bezier(0.47, 0, 0.745, 0.715), transform 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
		position: relative;
		display:inline-block;
		min-width: 6em;
		opacity: .8;
	}

	@media (min-width: 1171px) {
		.active{
			-webkit-transform: translate(0,-1em);
			transform: translate(0,-1em);
		}
	}

	@media (max-width: 1170px) {
		button {
			width:50%;
			margin:0 0 .2em 0;
		}

		//expand the button size when active
		.active{
			padding-top: 3em;
			padding-bottom: 3em;
		}
	}

	@media (max-width: 768px) {
		button {
			width:96%;
			margin:0 0 .2em 0;
		}
	}

	button.active {
		opacity: 1;
	}
}

.student-life-organization-buckets {
	padding:4em 0 0 0;

	.bucket-outer {
		//min-height: 18rem;
		overflow: hidden;
		padding: 2.4em 0;

		.bucket-inner {
			display:none;

			.image {
				height:12rem;
				overflow:hidden;

				img {
					width: 100%;
					height:auto;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					float:left;
				}
			}

			.content {

			}
		}
	}
}

//TODO maybe provisonal - strips min height from the sidebar adaptation of the student life org module
.student-life-organization--sidebar{
	min-height: 0 !important;
	background: none !important;
	.category-background-image{
		background: none !important;
	}
}

.student-life-organization {
	min-height:100vh;
	//background:$red;
	position: relative;

	.category-background-image {
		position: absolute;
		left:0;
		bottom:0;
		width:100%;
		height:100%;
		overflow:hidden;
		//background:$red;

		img {
			width:100%;
			opacity: .1;
		}
	}

	.content {
		position: relative;
		z-index: 99;
	}

	.block {
		position:relative;
		background-size:cover;
		background-repeat: no-repeat;
		height:calc(6em + 12vw);

		h5 {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #FFF;
			z-index: 99;
			padding: 1em;
			width: 66%;
			min-width: 280px;
			color: #FFF;
			line-height: 1.2em;
			font-size: 1em;
		}

		p {

		}

		.overlay {
			background:#111;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			transition-property: opacity;
			transition-duration: .2s;
			opacity:.8;

		}


	}

	.modal {
			background: rgba(0,0,0,.9);

			.modal-body {
				img {
					width: 100%;
					margin-bottom: 30px;
				}

				.image {
					height:calc(12em + 10vw);
					overflow:hidden;
					position: static;

					img {
						width:100%;
						position: relative;
					top: 50%;
					transform: translateY(-50%);
					float:left;
					opacity: 1;
					}
				}

				.content {
					margin:1.2em 0;
				}

			}
	}

	.block:hover {

		h5 {
			background:rgba(0,0,0,.8);
			color:#FFF;

		}

		.overlay {
			opacity: 0;
		}
	}
}

.page-template-page-explore {
	min-height:100vh;

	.modal {
		z-index: 999999999 !important;
		img{
			width: 100%;
		}
	}

	#container {

		#content {

			.hero-unit {
				opacity:0;
			}

			#inner-content {

				main {

					header {

						h1 {

						}

						p {

						}
					}

					section:nth-child(even) {
						background:#FFF;
					}

					footer {

					}
				}
			}
		}

		footer {

		}
	}
}




/*
* === TRADITIONS ===
*/

.page-template-page-traditions {

	#container {

		#content {

			#inner-content {

				main {

					header {

						h1 {

						}

						p {

						}
					}

					section {

					}

					.nu-tradition {

						h3 {
							margin:0 0 1.2em 0;
						}

						.block {
							margin: 0 0 2.8em 0;
							min-height: 9.6em;

							.modal {
							    background: rgba(0,0,0,.9);

							    .modal-body {

							    	.image {
							    		height:calc(12em + 10vw);
							    		overflow:hidden;
							    		min-height: 24em;

							    		img {
								    		width:100%;
								    		position: relative;
											top: 50%;
											transform: translateY(-50%);
											float:left;
								    	}
							    	}

							    	.content {
							    		margin:1.2em 0;
							    	}

							    }
							}

							.image {
								max-height: 9.6em;
								overflow: hidden;
								border-radius: .1em;
								height:48vh;

								img {
									width:100%;
									position: relative;
									top: 50%;
									transform: translateY(-50%);
								}
							}

							.content {

								h4 {
									margin:0 0 1.2em 0;

								}
							}

							// h5 {
							// 	line-height: 1em;
							// 	height:2.4em;
							// }

							// img {
							// 	width: 100%;
							// }
						}
					}

					footer {

					}
				}
			}
		}

		footer {

		}
	}
}




/*
* === TRADITIONS ===
*/

.page-template-page-events {

	#container {

		#content {

			#inner-content {

				main {

					header {
					}

					section {

					}

					.events {

						#lw {
							width:100%;

							.lw {

								#lwe {

									.lwe {
										border:none;
										float:left;
										list-style: none !important;
										min-height: 20em;
										padding:calc(1em + 1vw);

										i {
											font-size: calc(.6em + .6vw);
										}

										.lwn {

											span {
												float: none;
												text-align: left;
												display: block;
												margin: 0 0 .6em 0;
												color: #666;
											}

											a {
												font-family: $subheading-font;
												font-size: calc(1em + .6vw);
												text-align: left;
												clear: both;
												display: block;
												margin: 0 0 .4em 0;
												line-height: 1em;
											}


										}

										.lwd {
											text-align: left;
											font-size: 1em;
											line-height: 1.6em;

											span {
												margin: 0 .2em 4em 0;


												a {

													img {

													}
												}
											}
										}

										.lwl {
											text-align: left;
											font-size: .8em;
											font-weight: bold;
											margin:12px 0 0 56px;
											border:1px solid #EEE;
											background:#F7F7F7;
											padding:.4em;
											border-radius:.2em;

											span {

											}

											a {

											}
										}

										@media (max-width: 768px) {

											.lwl {
												margin:12px 0 0 0;
											}
										}
									}
								}

							}
						}
					}

					footer {

					}
				}
			}
		}

		footer {

		}
	}
}





/*
* === BLOG ===
*/

.blog {

			#inner-content {
				margin-top:2.4em;

				main {

					article {
						margin:0 0 4.8em 0;
						border:none;

						header {
							margin:0 0 .6em 0;

							.row {
								height:calc(12em + 10vw);
								overflow:hidden;
								margin:0 0 2.4em 0;

								img {
									width:100%;
									height:auto;
									position: relative;
									top: 50%;
									transform: translateY(-50%);
									float:left;
								}
							}

							h1 {

								a {
									font-family:$heading-font;
									text-transform: uppercase;
									font-weight: 300;
									font-size: $h3-font-size;
								}
							}

							.byline {
								font-size: .8em;
								font-style:normal;
							}
						}

						section {
							padding:0;
						}

						footer {

						}
					}
				}
			}

		footer {

		}

		.entry-content {
			padding-top: 0 !important;
		}
}

/*
* === SINGLE ===
*/

.single {

	#container {

		#content {

			.hero-unit {
				background-repeat:no-repeat;
				background-size:cover;
				background-position:center;
			}

			#inner-content {
				margin-top:2.4em;

				main {

					article {
						margin:0 0 4.8em 0;
						border:none;

						header {
							margin:0 0 .6em 0;

							.row {
								height:calc(12em + 10vw);
								overflow:hidden;
								margin:0 0 2.4em 0;

								img {
									width:100%;
									height:auto;
									position: relative;
									top: 50%;
									transform: translateY(-50%);
									float:left;
								}
							}

							h1 {
								font-family:$heading-font;
								text-transform: uppercase;
								font-weight: 300;
								font-size: $h3-font-size;

								a {
									font-family:$heading-font;
									text-transform: uppercase;
									font-weight: 300;
									font-size: $h3-font-size;
								}
							}

							.byline {
								font-size: .8em;
								font-style:normal;
							}
						}

						section {
							padding:0;
						}

						footer {

						}
					}
				}
			}
		}

		footer {

		}
	}
}

.panel-title {
	font-size: 1.5em;
}

.panel-default>.panel-heading,
.panel-body,
.panel-default>.panel-heading+.panel-collapse>.panel-body,
.panel {
	background: none;
	border: none;
	border-radius: 0;
}

/*collapses the nav at 1024, not 768*/
@media (max-width: 1024px) {
		body #container header #inner-header .navbar .navbar-collapse ul {
		    background: rgba(0, 0, 0, 0.8);
		    position: relative;
		    top: 0;
		    transform: translateY(0%);
		    padding: 0 15px 1.2em;
		}

		body #container header #inner-header .navbar .navbar-collapse ul li {
		    display: block;
		    margin: 1em 0;
		}

		body #container header #inner-header .navbar .navbar-collapse ul li .sub-menu {
    		display: none;
		}

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav.navbar-nav.navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media only screen and (min-width: 1024px){
	/*
	.nav li {
	    float: left !important;
	    position: relative !important;
	}
	*/
}

.navbar ul{
	list-style: none;
	list-style-type: none !important;
}

.navbar ul li{
	list-style: none;
	list-style-type: none !important;
}

.sub-menu li {
	margin-left: 0 !important;
}

.sub-menu li a{
	padding-left: 0 !important;
}

.sub-menu {
	border: 1px solid #585858 !important;
}
// TODO if li within sub-menu and active do nothing
//TODO if a withi li that is active make it bold and white
/*
body #container header #inner-header .navbar .navbar-collapse ul .current_page_item {
    border-bottom: 2px solid #FFF;
}
*/

.sub-menu .current_page_item {
    border-bottom: none !important;
}

.current-page-parent {
	border-bottom: 2px solid #FFF !important;
}

.sub-menu .current_page_item a{
    border-bottom: 2px solid #FFF !important;
}

.multi-column--image.multi-column--image {
	max-width: 200px;
}

.footer .drawer-menu ul{
	display: none;
	li{
		list-style-type: none !important;
	}
}

.footer ul{
	padding-left: 0 !important;
	list-style-type: none !important;
	li{
		list-style-type: none !important;
	}
}

.event-wrapper iframe{
	width: 100%;
	height: calc(6em + 1vw); //mimics the events bar
}

//hide headers and footers to allow Calendar views and iframes to fit together
.page-template-calendar-main-site-event-page-footer .header{
	display: none !important;
}

//hide headers and footers to allow Calendar views and iframes to fit together
.tribe-events-page-template #inner-header,
.tribe-events-page-template .footer{
	display: none;
}

//enable the footer inside of footer-dest to actually show up
#header-dest #inner-header,
#footer-dest .footer{
	display: block;
}

.tribe-events-page-template li{
	list-style-type: none !important;
}

.tribe-is-responsive {
	#tribe-events-bar,
	.tribe-events-page-title,
	.tribe-events-user-recurrence-toggle,
	#tribe-events-header{
		display: none !important;
	}
}

.tribe-teaser-container.tribe-teaser-container{

	.tribe-events-widget-link-container{
		@media (max-width: 768px) {
			position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		}
		.tribe-events-widget-link{
			@media (min-width: 768px) {
				margin-top: 10px;
			}
		}
	}
	.tribe-mini-calendar-event {
		border-bottom: none;
	}
	.tribe-row-of-events{
		width: 100%;
		position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	}
	.tribe-event-container{
		text-align: left;
		color: white;
		h2{
			text-align: left;
			color: white;
			a, a:visited, a:hover{
				color: white;
			}
		}
	}
	.tribe-event-container:nth-child(3){
		display: none;
		@media (min-width: 992px) {
			display: block
		}
	} //hides the 3rd event on smaller than md
	.list-date {
		background: white;
		.list-dayname{
			color: white;
		}
	}
}

#student-life-events-list-content{
	.tribe-event-schedule-details{
		@media (max-width: 768px) {
			padding-left: 12px;
		}
	}

	.tribe-events-event-image + .tribe-events-list-event-description{
		@media (min-width: 768px) {
			width: 48%;
			padding-right: 0;
		}
	}

	.tribe-events-event-image{
		width: 100%;
		margin-bottom: 12px;
		@media (min-width: 768px) {
			width: 48%;
			margin-right: 2%;
			margin-bottom: 0;
		}
		img {
			width: 100%;
			max-height: none;
		}
	}
}

.tribe-teaser-container iframe{
	width: 100%;
	height: calc(6em + 1vw); //mimics the events bar
}

.tribe-events-single-event-title.tribe-events-single-event-title.tribe-events-single-event-title {
	font-size: 56px;
}

.tribe-events-cal-links,
//.tribe-events-single-event-title,
//.tribe-events-schedule h2,
.tribe-events-related-events-title,
.tribe-related-events{
	padding: 0 4% !important;
}

.tribe-events-single-event-description p{
	padding: 4% !important;
}

.tribe-events-back {
	padding-top: 4%;
}

.tribe-events-schedule h2 {
	font-size: 1.75em;
	line-height: 1.4em;
}

.tribe-related-events-title{
	text-align:left;
}

.tribe-related-events-thumbnail {
    float: none !important;
}
