@mixin setThemeColor($themeColor) {

  //THEME COLOR HELPER CLASSES

  .theme-color{
    color:$themeColor;
  }

  .theme-bg-color{
    background-color: $themeColor;
  }

  //PIVOT THE COLOR OF ELEMENTS ON ORGANIZATION CATEGORY

  h3, h4, a,
  .navbar-toggle,
  .widget .social i,
  .widgettitle,
  .tribe-teaser-container.tribe-teaser-container .list-date .list-daynumber {
		color: $themeColor;
	}

	.navbar-collapse {
		a:hover{
			color: $themeColor;
		}
	}

  //PIVOT THE BACKGROUND COLOR OF ELEMENTS ON ORGANIZATION CATEGORY

	.hero-unit,
  .sub-page header,
  .student-life-organization,
  .student-life-organization .category-background-image,
  .tribe-teaser-container.tribe-teaser-container .list-date .list-dayname,
  #events-wrapper { //hacky means of targeting this, .event-wrapper appears twice in this partial for some reasons
    background: $themeColor;
  }

  .btn {
    background:$themeColor;
    color: white;
  }

  .btn.transparent:hover {
    color:$themeColor;
  }

}

.studentLifeMainSiteBodyClass {
  @include setThemeColor($red);
}

.getInvolvedBodyClass {
	@include setThemeColor($orange);
}

.getConnectedBodyClass {
	@include setThemeColor($teal);
}

.getSituatedBodyClass {
	@include setThemeColor($green);
}

.getSupportBodyClass {
	@include setThemeColor($yellow);
}

.getHealthyBodyClass {
	@include setThemeColor($blue);
}
