
// @mixin setSitecolor($color){
// 	p {
// 		color: purple;
// 	}
// }

@import "custom/variables";

html {
	font-size:100%;
}

body {
	font-family:$body-font;

	#container {

		header {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			z-index: 999;
			background: rgba(0,0,0,.84);

			.alert {
				background:$red;
				text-align: center;
				margin:0;
				border-radius: 0;

				p {
					margin:0 auto;
					max-width: 1170px;
					color:#FFF !important;
				}
			}

			.drawer {
				background-color:#2B2727;
				z-index:999;
				position: relative;
				border-bottom:#333;

				.drawer-inner {

					.drawer-header {
						transition-property: background;
						transition-duration: .2s;
						height:auto;
						background-color:#F7F7F7;

						.drawer-header-inner {
							height:auto;

							.navbar {
								border: none;
								background: none;
								margin: 0;
								padding-top: .6rem;
								padding-bottom: .6rem;

								.navbar-brand {
									max-width: 24rem;
									width: 12vw;
									min-width: 12rem;
									align-self: flex-start;

									img {
										width:100%;
									}


								}

								p {
									position: absolute !important;
									margin: 0;
									right: 3.6rem;
									text-transform: uppercase;
									letter-spacing: .06rem;
									line-height: 0;
									font-weight: bold;
									font-size: .9rem;
								}

								.navbar-toggler {
									right: 15px;
									display: block;
									cursor: pointer;
									border: none;
									opacity: .8;
									transition-property: opacity;
									transition-duration: .2s;
									padding: 0;
									top: 50%;
									transform: translateY(-50%);


								}

								.navbar-toggler:hover {
									opacity: 1;
								}

								.navbar-toggler-open {

									.navbar-toggler-icon {
										background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
									}
								}

								.navbar-toggler-close {
									display: none;
									position: absolute;
									border: none;
									font-size: 1.8rem;
									color: #999;
									top: 50%;
									transform: translateY(-50%);
									cursor: pointer;
								}
							}
						}
					}

					.drawer-header:hover {

					}

					.drawer-content {
						display:none;
						height: auto;
						padding-top: 30px;
						padding-bottom: 30px;

						h2, p {
							color:#FFF;
							text-align: center;

						}

						h2 {
							font-size: 1.8rem;
							font-weight: bold;
						}

						ul {
							padding:0;
							margin:0;

							.get-involved {
								
								a, i { 
									color: $get-involved;
								}

							}

							.get-connected {
								
								a, i {
									color: $get-connected;
								}
							}

							.get-situated {
								
								a, i {
									color: $get-situated;
								}
							}

							.get-support {
								
								a, i {
									color: $get-support;
								}
							}

							.get-healthy {
								
								a, i {
									color: $get-healthy;
								}
							}

							li {
								list-style-type: none;
								padding: 15px;
								margin: 15px 1% 0 0;
								background: rgba(0, 0, 0, 0.666);
								border-radius: .2rem;
								width: 32%;
								box-sizing: border-box;
								float: left;
								//text-align: center;

								a {
									font-family: $subheading-font;
									font-size: 1.4rem;
									cursor: default;
								}

								a:hover {
									text-decoration: none;
								}

								ul {
									width:100%;
									box-sizing:border-box;
									float:none;

									li {
										border-right:none;
										border-bottom:1px solid #232323;
										padding: .6rem 0;
										margin:0;
										background:transparent;
										width:100%;
										line-height: 1;
										//border-radius:.2rem;
										text-align: left;

										i {
											margin:0 .6rem 0 0;
											color:inherit;
										}
										
										a {
											font-family: $body-font;
											color:#FFF !important;
											font-size:1rem;
											line-height: 1;
											cursor:pointer;
										}

										a:hover {
											text-decoration: underline;
										}
									}

									li:nth-last-child(1) {
										border:none;
									}
								}
							}
						}
					}
				}
			}

			#inner-header {
				height: auto;
				padding-top: .6rem;
				padding-bottom: .6rem;

				.navbar {
					background:none;
					padding:0;
					display: flex;
					align-content:center;

					.navbar-brand {
						font-family: $heading-font;
						color:#FFF;
						text-transform: uppercase;
						font-weight: bold;
						font-size: 1.6rem;
						margin:0;
						transition-duration: .2s;
						transition-property: color;

						i {
							margin: 0 .6rem 0 0;
						}
					}

					.navbar-brand:hover {
						color:$red;
					}

					.navbar-toggler {
						color: rgba(255,255,255,.9);
						right:0;
						top:0;
						padding:0;
						top:50%;
						transform:translateY(-50%);

						span {
							background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
						}
					}

					.navbar-collapse {
						width: 100%;
						justify-content: flex-end;
						align-content:center;

						ul {

							li {
								padding:.6rem 0;
								list-style-type: none;
								line-height: 1;

								a {
									padding:0 0 0 1.2rem;
									font-size: 1.2rem;
									font-family: $heading-font;
									text-transform:uppercase;
									transition-property: color;
									transition-duration: .2s;
									line-height: 1;
								}

								a:hover {
									// background:transparent;
									color:$red;
									text-decoration: none !important;
								}

								.sub-menu {
									//visibility: visible;
									padding:0;
									margin:.6rem 0 0 1.2rem;
									border:1px solid #FFF;
									background:#F7F7F7;
									border-radius:.1rem;
									left:0;
									//top:2rem;

									li {
										padding:0;
										margin:0;
										border-bottom:1px solid #EEE;

										a {
											padding:.6rem;
											margin:0;
											border:none;
											color:$brown;
										}

										a:hover {
											color:$red;
										}
									}
								}
							}

							.current_page_item {
								// border-bottom: 2px solid #FFF;

								a {
									// opacity: 1;
								}

							}

							li:nth-last-child(1){

								a {
									// padding:0 0 0 .6vw;
								}

								.sub-menu {
									right:0;
									left:auto;
								}
							}

							li:hover {
								// background:transparent;
							}
						}

						.social {
							padding:0 0 0 15px;
							border-left:1px solid #333;
							margin: 0 0 0 15px;

							a {
								margin: 0 .6em 0 0;
								position: relative;
								top: 50%;
								transform: translateY(-50%);
								//float:right;

								i {
									font-size: 1.2em;
									color:#FFF;
									opacity: .8;
								}

								i:hover{
									opacity: 1;
									color:$red;
								}
							}
						}
					}

					@media (max-width: 767px) {

						.navbar-collapse {
							// border:none;
							// height:auto !important;
							// z-index: 999;
							// position: relative;

							ul {
								// background:rgba(0,0,0,.8);
								// position: relative;
								// top: 0;
								// transform: translateY(0%);
								// padding:0 15px 1.2em;

								li {
									// display:block;
									// margin:1em 0;

									a {

									}

									a:hover {

									}

									.sub-menu {
										display:none;

										li {

											a {

											}
										}
									}
								}

								li:nth-last-child(1){

									a {

									}
								}

								li:hover {

								}
							}
						}
					}
				}
			}
		}

		#content {
			background:#FFF;

			#inner-content {

				main {

					header {
						background:transparent;
						border:none;

						h1 {

						}

						p {

						}
					}

					section {
						padding:3.6rem 0;

						*:nth-last-child(1) {
							margin-bottom:0;
						}

						.hentry {
						    border: none;
						}
					}

					section:nth-child(even) {
						background-color:#F9F9F9;
					}

					.full-width-text {
						* {
							max-width: 992px;
						}
					}

					.simple-full-bleed-image {
						padding:0;

						.simple-full-bleed-image-inner {
							height:96vh;
							background-size: cover;
							background-repeat:no-repeat;
							background-position:center;
						}
					}

					.dynamic-text-image-cta-blocks {

						.image {
							height:calc(1.2rem + 12vw);
							width:100%;
							background-size:cover;
							background-position: center;
							background-repeat:no-repeat;
							margin:0 0 15px 0;
						}
					}

					.simple-carousel {

						.carousel-item {
							//height:calc(6vw + 6rem;)
						}

						.carousel-caption {

							h5 {
								color:#FFF;
							}
						}
					}

					.simple-gallery {

						.gallery {
							
							dl {
							
								dt {
									float:left;
								
									a {
								
										img {
											border: medium solid #FFF;
											box-shadow: 0 0 .2rem #999;
											margin: .2rem;
										}
									}
								}
							}
						}
					}

					.simple-checklist {

						ul {
							
							li {
								list-style-type: none;
								line-height: 2;
							}
						}
					}

					.frequently-asked-questions {

						.accordion {
							margin:2.4rem 0;
						}
					}

					.events-calendar {

						.tribe-mini-calendar-event {
							border:none;
							margin:0 0 1.2rem 0;
						}

						.tribe-events-title {
							
							a {
								text-transform: none;
								font-family: $body-font;
								font-size:1rem;
							}
						}
					}

					.flexible-staff-module {

						.image {
							height:calc(4.8rem + 4.8vw);
							width:calc(4.8rem + 4.8vw);
							background-size:cover;
							background-position: center;
							border-radius:50%;
						}
					}

					.events {
						
						#tribe-events-content {

							table {
								
								.tribe-events-last {
									border:none;

									h3 {
										
										a {
											color:inherit;
										}
									}
								}
							}
						}

						.tribe-events-tooltip {
							padding:1.2rem !important;
						}

						.tribe-events-event-meta {
							border:none;
						}

						.tribe-events-single-section-title {
							font-size: 1.4rem;
						}

						.tribe-events-nav-previous a,
						.tribe-events-nav-next a {
							font-size: 1rem;
							font-family: $body-font;
							font-weight: normal;
						}

						#tribe-events .tribe-events-content p {
							text-align: left;
						}

						.tribe-events-list .tribe-events-event-image img {
							border:medium solid #FFF;
							box-shadow: 0rem 0rem .3rem #999;
						}

						.tribe-events-list .type-tribe_events h2 {
						    font-size: 1.6em;
						    line-height: 1;
						}

						.tribe-events-list .type-tribe_events {
							margin-bottom:4rem;
						}
					}

					.flexible-carousel {

						.header {
							position: relative;
							z-index: 999;
							background:transparent;
							margin: 0 0 1.2rem 0;
						}

						.container {
							background-size:cover;
							background-position:center;
							background-repeat:no-repeat;
							padding:2.4rem 0 3.6rem;

							.row {
								position: relative;
								z-index: 999;
							}
						}

						.overlay {
							position: absolute;
							width:100%;
							height:100%;
							top:0;
							left:0;
							background:rgba(0,0,0,.666);
						}

						.carousel {
							background:#FFF;
							border-radius:.2rem;
							padding:15px 0;
							width: 100%;

							.carousel-caption {
								position: relative;
								right: auto;
								bottom: auto;
								left: 0;
								z-index: 10;
								padding-top: 0;
								padding-bottom: 0;
								color: #fff;
								text-align: left;

								p {
									color:$brown;
								}
							}

							.carousel-inner {
							    //padding: 0 2vw;
							}

							.carousel-control-next, 
							.carousel-control-prev {
							    width: auto;
							}

							.carousel-control-next {
							    right: -2vw;
							}

							.carousel-control-prev {
							    left: -2vw;
							}
						}


					}

					footer {

					}
				}

				.sidebar {

					.widget {

						h4 {
							border:none;
							font-family: $heading-font;
							font-weight: normal;
							text-transform: uppercase;
							font-size: 1.8rem;
						}

						ul {

							li {
								margin:0;
							}
						}
					}

				}
			}

			.events {
				//display: none;

				.img-fluid {
					margin-bottom:2.4rem;
				}

				.hentry {
    				border: none;
    				//padding:2.4rem 0;
				}

				h1, h2, h4, h5, h5 {
					display: block !important;
				}

				.single-tribe_events .tribe-events-event-meta {
				    background: #F7F7F7;
				    border: none;
				    margin: 0;
				}

				.tribe-events-schedule {
				    margin: 0;
				}
			}
		}

		footer {
			h1, h2, h3, h4, h5, h6, p, a, i {
				color:#FFF !important;
			}

			a {
				font-weight: bold;
				margin:.6rem 0;
			}

			p {
				margin:.6rem 0;
			}

			.footer-logo {

				img {
					max-width: 12em;
					padding:1.2em;
				}
			}

			.footer-widget {
				margin:1.2em 0;
				border-left:1px solid rgba(255,255,255,.333);

				.widgettitle {
					border-bottom: none;
					margin-bottom: .4em;
					font-size: calc(1.2em + 1vw);
					color: $red;
					font-family: $heading-font;
					text-transform:uppercase;
				}

				.social {
					margin:0 .2em 0 0;
					padding:0;

					a {
						line-height: 0em;

						i {
							margin:0 .2em 0 0;
							font-size:1.6em;
							opacity: .8;
						}

						i:hover {
							opacity: 1;
						}
					}

					p {
						font-size: 1em;
						margin:0;
					}
				}

				i {
					color:$red;
					font-size:1.2em;
				}
			}

			.footer-widget:nth-last-child(1) {
				border-right:1px solid rgba(255,255,255,.333);
			}

			.copyright {
				background-color:#E7E7E7;
				padding:1.2em 0;

				p {
					font-size: .8em;
					font-weight: bold;
				}
			}

			.universal-footer {
				padding:1em;
				text-align: center;
				background:#636363;

				.wrapper {
					position: relative;

					.left {
						position: relative;

						.logo {
						    background: url("https://www.northeastern.edu/neuhome/images/logo-footer.png") no-repeat scroll left top transparent;
							color: #FFFFFF;
							float: left;
							font-family: Georgia,Times,Arial,serif;
							font-size: 18px;
							height: 17px;
							margin-right: 20px;
							padding: 0;
							text-decoration: none;
							width: 173px;

						}
					}

					.right {
						position: relative;

						.info {
							margin:0 0 1em 0;
							clear:both;
							padding:0;

							li {
								float: left;
								margin-right: 1em;
								list-style-type: none !important;
								line-height: .1em;

								a {
									color: white;
									font-size: .8em;
									margin: 0 1em 0 0;
								}
							}

							li::after {
							    content: "\00b7";
							}

							// li:last-child {
							// 	display: none;
							// }

							li:last-child::after {
							    content: "";
							    margin-right: 0;
							    padding-right: 0;
							}
						}


						.contact {
							font-size: .7em;
							text-align: left;
							color: #CCC;
						}
					}
				}
			}
		}
	}
}




/*
* === HOME ===
*/

.home, 
.page-template-page-sub-home {

	#container {

		.fade-in-on-page-load {
			opacity: none;
		}

		header {
			// z-index: 999;
			// display:none;

			#inner-header {

				nav {

					ul {

						li {

							a {

							}
						}
					}
				}
			}
		}

		#content {
			margin:0;

			.hero {
				min-height: 24em;

				.overlay {
					background-image:url('../images/hero-overlay.png');
					background-repeat:repeat;
					z-index: 99;
					position:absolute;
					top:0;
					left:0;
					height:100%;
					width:100%;

					.carousel {
						height:100%;
						// z-index: 99;
						// position: relative;
						// display: none;


						.carousel-inner {
							height:100%;

							.carousel-item {
								height:100%;
							}

							.carousel-caption {
								position: absolute;
								top:60%;
								transform:translateY(-50%);
								padding:0;
								margin:0;
							}

							h2, h3, p {
								color:#FFF !important;
								// margin:0;
								// text-transform: none;
								// width:100%;
								// display: block;
								// float:none;
								// clear:both;
							}

							h2 {
								font-size: calc(1.2em + 3.6vw);
								font-weight: bold;
								text-shadow: 0rem .1rem .1rem #000
							}

							h3 {
								font-size: calc(1rem + 1vw);
								text-shadow: 0rem .1rem .1rem #000
							}
						}
					}
				}

				.image-hero {
					height: 100vh;
					//width: 100vw;
					background-size: cover;
					background-position: center;
					min-height: 36rem;

					.overlay {
						background:rgba(0,0,0,.666);

						.inner {
							position: relative;
							top:50%;
							transform:translateY(-50%);
						}

						h2 {
							font-size: calc(1.2em + 2.4vw);
							font-weight: bold;
							text-shadow: 0rem .1rem .1rem #000;
							color:#FFF;
							text-transform: none;
							margin:0 2.4rem 0 0;
						}

						h3 {
							font-size: calc(1rem + 1vw);
							text-shadow: 0rem .1rem .1rem #000;
							color:#FFF;
						}
					}
				}


				.video-hero {
					display: block;
					height: auto;
					overflow: hidden;
					max-height: 100vh;
					position: relative;
					min-height: 24em;
				}

				

				.hero-inner {
					position: relative;
					height: 100%;
					width: 100%;
					left: 0;
					top: 0;
					z-index: 99;

					.events-wrapper {
						background: rgba(226, 26, 45, 0.9);
						position: absolute;
						bottom: 0;
						width: 100%;
						left: 0;
						//display: none;
						//padding:1.2rem 0;

						.logo {
							position: absolute;
							height:100%;
							margin:0;

							img {
								width: 100%;
								max-width: 20vw;
								position: absolute;
								bottom: 0;
								height: auto;
							}
						}

						.event-wrapper-outer {
							//margin:0
						}

						.event-wrapper {
							// text-align: center;
							// margin: 0;
							// height: calc(6em + 1vw);
							padding:15px;

							.event {
								display: flex;
  								align-items: flex-start;
  								margin:15px 0;
  								max-width: 400px;


  								i {
									font-size:2rem;
									margin: .2rem .6rem 0 0;
									color:#FFF;
									//float:left;
								}

								h4 {
									color:#FFF;
									line-height: 1;
									font-family: $heading-font;
									font-size: 1rem;

									a {
										color:#FFF !important;
										font-size: 1.2rem;
										font-family: $heading-font;
										text-transform: uppercase;
										font-weight:bold;
									}
								}

								p {
									flex-shrink: 0;
									clear:both;
									font-size: .9rem;
									color:#FFF;
									opacity: .666;
									line-height: 1;
									margin:0;
								}
							}
						}

						.event-button {
							// margin: 0;
							// height: calc(6em + 1vw);
							margin:15px 0;
							max-width: 400px;

							.btn {
								min-width: 6rem !important;
								// width: 100%;
								max-width: 18rem;
								position:relative;
								top: 50%;
								transform: translateY(-50%);
								color:#FFF !important;
							}
						}
					}

					// .content {
					// 	background:rgba(0,0,0,.8);


					// 	h2 {
					// 		color:#FFF;
					// 	}

					// 	p {
					// 		color:#FFF;
					// 	}
					// }
				}
			}

			#inner-content {
				min-height: 100vh;

				main {

					section {

					}

					.home-explore {

						.student-life-organization-block {
							padding: 2.4rem 1vw;
							height: auto;
							min-height: 32rem;
							background-position:center;
							background-size:cover;
							background-repeat: no-repeat;

							.overlay {
								position: absolute;
								top:0;
								left:0;
								width:100%;
								height:100%;
								opacity: .9;
							}

							.content {
								position: relative;
								z-index: 99;

								h3 {
									font-family: $subheading-font;
									font-size:calc(1.2em + 1.2vw);
								}

								ul {
									margin:2.4em 0 0 0;
								 	column-count: 2;

									li {
										list-style-type: none !important;
										padding: 0 1.2em .6em 1.2em;
										line-height: 1.6em;

										i {
											font-size: inherit;
											color:#FFF;
										}

										a {
											color:#FFF;
											font-family: $heading-font;
											font-weight: bold;
											font-size:calc(.6rem + .6vw);
											text-transform:uppercase;
										}
									}
								}

								@media (max-width: 768px) {

									ul {
										column-count: 1;
									}
								}

								.student-life-organization-block-quote {
									color: #FFF;
									padding: 2.4em calc(1em + 2vw);;
									line-height: 1.2em;
									text-align: center;

									span {
										// font-size: 4em;
									}
								}
							}
						}
					}

					// .home-explore {
					// 	background-color:#2B2727;
					// 	padding:calc(2.4rem + 1.2vw) 0 calc(2.4rem + 1.2vw) calc(1.2rem + 2.4vw);

					// 	.columns {
					// 		column-count: 2;
					// 		column-gap:0;
					// 	}

					// 	h3 {
					// 		margin-bottom:2rem;
					// 	}

					// 	.inner {
					// 		margin:0 calc(1.2rem + 2.4vw) calc(1.2rem + 2.4vw) 0;
					// 		background: rgba(0, 0, 0, 0.666);
					// 		border-radius:.2rem;

					// 	}

					// 	.student-life-organization-block {
					// 		position: relative;
					// 		height: auto;
							
					// 		//min-height: 32rem;
					// 		//background:rgba(0,0,0,.9);
					// 		page-break-inside: avoid;           /* Theoretically FF 20+ */
					// 	    break-inside: avoid-column;         /* IE 11 */
					// 	    display:table;      

					// 		.student-life-organization-block-image {
					// 			height:calc(12vw + 6rem);
					// 			border-bottom:medium solid;
					// 		}

					// 		// .content {
					// 		// 	position: relative;
					// 		// 	z-index: 99;

					// 			h3 {
					// 				font-family: $subheading-font;
					// 				margin: 2.4vw 2.4vw 0 2.4vw;
					// 				color: #FFF;
					// 				//text-transform: uppercase;
					// 				font-size:calc(1.2em + 2.4vw);
					// 			}

					// 			ul {
					// 				display: block;
					// 			    margin:2.4em 0 0 0;

					// 				li {
					// 					list-style-type: none !important;
					// 					padding: 0 1.2em .6em 1.2em;
					// 					display: inline-block;
					// 					line-height: 1.6em;
					// 					width: 100%;

					// 					i {
					// 						font-size: inherit;
					// 						color:#FFF;

					// 					}

					// 					a {
					// 						color:#FFF;
					// 						font-family: $heading-font;
					// 						font-weight: bold;
					// 						font-size: calc(.6em + .6vw);
					// 						text-transform:uppercase;
					// 					}
					// 				}
					// 			}

					// 			@media (max-width: 768px) {

					// 				ul {
					// 					-webkit-column-count: 1; /* Chrome, Safari, Opera */
					// 				    -moz-column-count: 1; /* Firefox */
					// 				    column-count: 1;
					// 				}
					// 			}

					// 			.student-life-organization-block-quote {
					// 				//font-size: 2em;
					// 				color: #FFF;
					// 				padding: calc(1.2em + 2.4vw);
					// 				line-height: 1.2em;
					// 				text-align: center;
					// 				opacity: .666;

					// 				span {
					// 					font-size: 4em;
					// 				}
					// 			}
					// 		// }
					// 	}
					// }

					.home-image {
						height:100vh;
						min-height: 24em;
						position:relative;

						.overlay {
							position: absolute;
							background-color:rgba(0,0,0,.8);
							height:100vh;
							width:100%;
							top:0;
							left:0;

							h3 {
								color: #FFF;
								text-align: center;
								top: 50%;
								transform: translateY(-50%);
								position: relative;
								margin: 0 auto;
								width: 66%;
								min-width: 320px;
								text-transform: none;
								font-size:2.8em;
							}
						}
					}

					.home-social {

						.social-wrapper {
							background-color:$red;
							height:12em;
							width:100%;
							margin:4em 0;
							text-align: center;

							ul {
								position: relative;
								display: inline-block;

								li {
									background:transparent;
									color:#FFF;

									a {
										background:transparent;
										color:#FFF;
										border:none;
									}
								}

								.active {
									background:transparent;
									color:#FFF;
									text-decoration: underline;

									a {
										background:transparent;
										color:#FFF;
										text-decoration: underline;
										border:none;
									}
								}
							}

							.tab-content {
								text-align: left;
								padding:0 4em;
							}
						}
					}

					.staff-block-outer {
						min-height:16em;
					}

					.staff-block {
						display:block;
						height:9.6rem;
						width:9.6rem;
						margin:0 auto;

						.image {
							height: 100%;
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
							border-radius: 100%;
							overflow: hidden;
							transform: perspective(1000px) scale(1);
							transition:.2s;
							border:1px solid #FFF;
						}

						img {
							width:100%;
							padding:1em;
						}

						.image:hover {
							transform: perspective(1000px) scale(1.025);
							box-shadow: 0rem 0rem .6rem #CCC;
						}
					}

					footer {

					}
				}

				.sidebar {

				}
			}
		}

		footer {

		}
	}
}




/*
* === SUB PAGES ===
*/

.sub-page {

	#container {

		header {
			background:#111;
			position: static;

			#inner-header {

				.navbar {


					.navbar-toggle {
						color:#FFF !important;
					}

					.navbar-brand {
						//opacity: .9;
						//color:#FFF !important;
					}

					.navbar-brand:hover {
						opacity: 1;
					}


					.navbar-collapse {

						.social {
							border:none;
						}

						ul {
							//padding:1.2em 15px;
						}
					}
				}

				nav {

					ul {

						li {

							a {

							}

							a:hover {
								//color:#FFF !important;
								text-decoration: underline !important;
							}
						}
					}
				}
			}
		}

		#content {
			margin:0;

			.jumbotron {

			}

			.sub-page-hero {
				//padding: 6em 2em 2em 2em;
				position: relative;
				height:16em;
				background-position:center;

				.content {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					// float:left;
					z-index: 99;

					h1, h2, h3, h4 {
						margin:0;
					}

					h1 {
						font-family: $heading-font;
						color:#FFF;
					}

					p {
						font-family:$subheading-font;
						color:#FFF;
						width:66%;
						min-width: 300px;
						margin:0 auto;
					}
				}

				.overlay {
					background:rgba(0,0,0,.8);
					position: absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
				}
			}

			.simple-text-hero {
				padding-top:.2rem;
				padding-bottom:.2rem;

				h1 {
					//font-weight: bold;
					font-family: $body-font;
					text-transform: none;
					//text-shadow: .1rem .1rem .1rem #111;
					//font-size: calc(1.2rem + 3.6vw);
					margin-bottom:0;
				}

				a {
					color:#FFF;
				}

				#breadcrumbs {

					* {
						opacity: .9;
						font-size: .8rem;
					}
				}
			}

			#inner-content {
				min-height: 90vh;

				main {

					header {
						position: relative;
						padding:0;

						h1 {

						}

						p {

						}
					}

					section {
						//padding:4em 0;
					}

					section:nth-child(even) {
					    background: #F7F7F7;
					}

					footer {

					}
				}

				.sidebar {
					margin:0;

					.widget {
						margin:0 0 2.4em 0;
					}
				}
			}
		}

		footer {

		}
	}
}




/*
* === MISC (DEFALT/BLOG/ETC) ===
*/

.page-template-default,
.error404 {

	#container {

		#content {
			//padding:12em 0 0 0;

			#inner-content {

				main {

					header {

						h1 {

						}

						p {

						}
					}

					section {

					}

					footer {

					}
				}
			}
		}

		footer {

		}
	}
}




/*
* === ABOUT ===
*/

.page-template-page-about {

	#container {

		#content {

			#inner-content {

				main {

					header {

						h1 {

						}

						p {

						}
					}

					section {

						.staff-block {
							min-height: 16em;

							.image {
								position: relative;
								background-position:center;
								border-radius:100%;
								height:calc(6em + 4vw);
								width:calc(6em + 4vw);
								background-size:cover;
								background-repeat:no-repeat;
							}

							.image:after {
							  content: "";
							  display: block;
							  padding-bottom: 100%;
							}

							.modal {
								background:rgba(0,0,0,.8);

								.image {
									position: relative;
									background-position:center;
									border-radius:100%;
									height:calc(6em + 4vw);
									width:calc(6em + 4vw);
									background-size:cover;
									background-repeat:no-repeat;
									margin:0 auto 2em;
									float: none;
								}

								img {
									width:100%;
									max-width: 12em;
									margin:0 0 1.2em 0;
								}

								p {
									margin:0;
									min-height: 2.8em;
									line-height: 1.2em;
								}

								@media (max-width: 768px) {
									p {
										text-align: center;
									}
								}
							}
						}
					}

					footer {

					}
				}
			}
		}

		footer {

		}
	}
}




/*
* === EXPLORE ===
*/

.page-template-page-explore {
	min-height:100vh;

	.modal {
		z-index: 999999999 !important;
	}

	#container {

		#content {

			.hero-unit {
				opacity:0;
			}

			#inner-content {

				main {

					header {

						h1 {

						}

						p {

						}
					}

					section:nth-child(even) {
						background:#FFF;
					}

					.student-life-organization-filters {
						text-align: center;
						padding:4em 0 0 0;

						// button {
						// 	position: relative;
						// 	display:inline-block;
						// 	min-width: 6em;
						// 	opacity: .8;
						// }

						// @media (max-width: 1170px) {
						// 	button {
						// 		width:50%;
						// 		margin:0 0 .2em 0;
						// 	}
						// }

						// @media (max-width: 768px) {
						// 	button {
						// 		width:96%;
						// 		margin:0 0 .2em 0;
						// 	}
						// }

						// button.active {
						// 	opacity: 1;
						// }
					}

					.student-life-organization-buckets {
						padding:4em 0 0 0;

						.bucket-outer {
							min-height: 18rem;
							overflow: hidden;
							padding: 2.4em 0;

							.bucket-inner {
								display:none;

								.image {
									height:12rem;
									overflow:hidden;

									img {
										width: 100%;
										height:auto;
										position: relative;
										top: 50%;
										transform: translateY(-50%);
										float:left;
									}
								}

								.content {

								}
							}
						}
					}

					.student-life-organization {
						min-height:100vh;
						background:$red;
						position: relative;

						.image {
							position: absolute;
							left:0;
							bottom:0;
							width:100%;
							height:100%;
							overflow:hidden;

							img {
								width:100%;
								opacity: .025;
							}
						}

						.content {
							position: relative;
							z-index: 99;
						}

						.block {
							position:relative;
							background-size:cover;
							background-repeat: no-repeat;
							height:calc(6em + 12vw);

							h5 {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								color: #FFF;
								z-index: 99;
								padding: 1em;
								width: 66%;
								min-width: 280px;
								color: #FFF;
								line-height: 1.2em;
								font-size: 1em;
							}

							p {

							}

							.overlay {
								background:#111;
								position:absolute;
								top:0;
								left:0;
								width:100%;
								height:100%;
								transition-property: opacity;
								transition-duration: .2s;
								opacity:.8;

							}


						}

						.modal {
						    background: rgba(0,0,0,.9);

						    .modal-body {

						    	.image {
						    		height:calc(12em + 10vw);
						    		overflow:hidden;
						    		position: static;

						    		img {
							    		width:100%;
							    		position: relative;
										top: 50%;
										transform: translateY(-50%);
										float:left;
										opacity: 1;
							    	}
						    	}

						    	.content {
						    		margin:1.2em 0;
						    	}

						    }
						}

						.block:hover {

							h5 {
								background:rgba(0,0,0,.8);
								color:#FFF;

							}

							.overlay {
								opacity: 0;
							}
						}
					}

					footer {

					}
				}
			}
		}

		footer {

		}
	}
}




/*
* === TRADITIONS ===
*/

.page-template-page-traditions {

	#container {

		#content {

			#inner-content {

				main {

					header {

						h1 {

						}

						p {

						}
					}

					section {

					}

					.nu-tradition {

						h3 {
							margin:0 0 1.2em 0;
						}

						.block {
							margin: 0 0 2.8em 0;
							min-height: 9.6em;

							.modal {
							    background: rgba(0,0,0,.9);

							    .modal-body {

							    	.image {
							    		height:calc(12em + 10vw);
							    		overflow:hidden;
							    		min-height: 24em;

							    		img {
								    		width:100%;
								    		position: relative;
											top: 50%;
											transform: translateY(-50%);
											float:left;
								    	}
							    	}

							    	.content {
							    		margin:1.2em 0;
							    	}

							    }
							}

							.image {
								max-height: 9.6em;
								overflow: hidden;
								border-radius: .1em;
								height:48vh;

								img {
									width:100%;
									position: relative;
									top: 50%;
									transform: translateY(-50%);
								}
							}

							.content {

								h4 {
									// margin:0 0 1.2em 0;

								}
							}

							// h5 {
							// 	line-height: 1em;
							// 	height:2.4em;
							// }

							// img {
							// 	width: 100%;
							// }
						}
					}

					footer {

					}
				}
			}
		}

		footer {

		}
	}
}




/*
* === EVENTS ===
*/

.page-template-page-events {

	#container {

		#content {

			#inner-content {

				main {

					header {
					
					}

					section {

					}

					.events {

					}

					footer {

					}
				}
			}
		}

		footer {

		}
	}
}





/*
* === BLOG ===
*/

.blog,
.search,
.error404 {

	#container {

		#content {

			.hero {
				//padding: 6em 2em 2em 2em;
				position: relative;
				height:16em;
				background-position:center;

				.content {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					// float:left;
					z-index: 99;

					h1, h2, h3, h4 {
						margin:0;
					}

					h1 {
						font-family: $heading-font;
						color:#FFF;
					}

					p {
						font-family:$subheading-font;
						color:#FFF;
						width:66%;
						min-width: 300px;
						margin:0 auto;
					}
				}

				.overlay {
					background:rgba(0,0,0,.8);
					position: absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
				}
			}

			#inner-content {
				// margin-top:2.4em;

				main {

					article {
						border-top:none;
						border-left:none;
						border-right:none;
						border-bottom:1px solid #CCC;
						margin-bottom:2.4vw;
						padding-bottom:2.4vw;

						header {
							// margin:0 0 .6em 0;

							h1 {
								margin:0;
							}

							.row {
								margin:0 0 2.4em 0;
							}

							h2 {

								a {
									font-family:$heading-font;
									font-size: calc(1.2rem + 2.4vw);
									opacity: .8;
								}
								a:hover {
									opacity: 1;
									text-decoration: none;
								}
							}

							.byline {
								font-size: .8em;
								font-style:normal;
								opacity: .5;
							}
						}

						section {
							padding:0;

							p {
								margin:1.2rem 0;
							}
						}

						footer {
							background: transparent;
							padding:0;

							p {
								font-size: .8rem;
							}
						}
					}

					article:nth-last-child(1) {
						border:none;
					}
				}
			}
		}

		footer {

		}
	}
}

/*
* === SINGLE ===
*/

.single {

	#container {

		#content {

			.jumbotron {
				background-repeat:no-repeat;
				background-size:cover;
				background-position:center;
				position: relative;

				.overlay {
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					background-color:rgba(0,0,0,.333);
				}

				.content {
					position: relative;
					z-index: 999;

					h1, h2, h3, p {
						margin:0;
						max-width:992px;
					}
				}
			}

			#inner-content {
				// margin-top:2.4em;

				main {

					article {
						margin:0 0 4.8em 0;
						border:none;

						header {
							// margin:0 0 .6em 0;

							// .row {
							// 	height:calc(12em + 10vw);
							// 	overflow:hidden;
							// 	margin:0 0 2.4em 0;

							// 	img {
							// 		width:100%;
							// 		height:auto;
							// 		position: relative;
							// 		top: 50%;
							// 		transform: translateY(-50%);
							// 		float:left;
							// 	}
							// }

							h1 {
								// font-family:$heading-font;
								// text-transform: uppercase;
								// font-weight: 300;
								// font-size: $h3-font-size;

								a {
									// font-family:$heading-font;
									// text-transform: uppercase;
									// font-weight: 300;
									// font-size: $h3-font-size;
								}
							}

							.byline {
								// font-size: .8em;
								// font-style:normal;
							}
						}

						section {
							padding:0;
						}

						footer {

						}
					}
				}
			}
		}

		footer {

		}
	}
}




/*
* === SEARCH ===
*/

.search {

	#container {

		#content {

			.jumbotron {
				
				h3 {
					margin: 0.67em 0;
					font-weight: bold;

					span {
						font-weight: 300;
					}
				}
			}

			#inner-content {

				main {

					article {
						margin:0 0 4.8em 0;
						border:none;

						header {
							

							h1 {

								a {

								}
							}

							.byline {

							}
						}

						section {
							padding:0;
						}

						footer {

						}
					}
				}
			}
		}

		footer {

		}
	}
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {

	body {

		#container {

			header {

				.drawer {
					border-bottom:1px solid #333;

					.drawer-inner {
						
						.drawer-content {

							ul {
								
								li {
									padding: 15px;
									margin: 0 0 15px;
									width: 100%;

									a {

									}

									ul {

										li {

										}
									}
								}
							}
						}
					}

				}

				#inner-header {
					// padding:1.2rem;

					.navbar {

						.navbar-brand {
							// margin: 0 0 1.2rem 0;
						}

						.navbar-brand:hover {

						}

						.navbar-toggler {

							span {

							}
						}

						.navbar-collapse {

							ul {
								padding:1.2rem 0;

								li {
									border-bottom:1px solid #111;
									padding: .4rem 0;
									margin: .4rem 0;

									a {
										padding: 0;
									}

									a:hover {

									}

									.sub-menu {

										li {

											a {

											}
										}
									}
								}

								.current_page_item {

									a {

									}
								}

								li:nth-last-child(1){
									border:none;

									a {

									}
								}

								li:hover {

								}
							}
						}
					}
				}
			}


			#content {


				#inner-content {

					main {

						article {

							header {


								h1 {

								}

								p {

								}
							}

							section {

							}

							footer {

							}
						}
					}

					.sidebar {

						.widget {

							h4 {

							}

							ul {

								li {

								}
							}
						}

					}
				}
			}

			footer {

			}
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {

}

// .page-template-calendar-filtered-event-list {
// 	background: none;
// }

// .sub-page{
// 	background: transparent;
// }

// .event-wrapper iframe {
//     outline: none !important;
//     border: none !important;
// }

// .no-events-text{
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%, -50%);
// }

// //hide headers and footers to allow Calendar views and iframes to fit together
// .tribe-events-page-template #inner-header,
// .tribe-events-page-template .footer{
// 	display: none;
// }

// //enable the footer inside of footer-dest to actually show up
// #header-dest #inner-header,
// #footer-dest .footer{
// 	display: block;
// }

// .tribe-events-page-template li{
// 	list-style-type: none !important;
// }

// .page-template-calendar-filtered-event-list {
// 	#tribe-events-bar,
// 	.tribe-events-page-title,
// 	.tribe-events-user-recurrence-toggle,
// 	#tribe-events-header{
// 		display: none !important;
// 	}
// }

// .tribe-teaser-container.tribe-teaser-container{

// 	.tribe-events-widget-link-container{
// 		@media (max-width: 768px) {
// 			position: absolute;
// 		  top: 50%;
// 		  left: 50%;
// 		  transform: translate(-50%, -50%);
// 		}
// 		.tribe-events-widget-link{
// 			@media (min-width: 768px) {
// 				margin-top: 10px;
// 			}
// 		}
// 	}
// 	.tribe-mini-calendar-event {
// 		border-bottom: none;
// 	}
// 	.tribe-row-of-events{
// 		width: 100%;
// 		position: absolute;
// 	  top: 50%;
// 	  transform: translateY(-50%);
// 	}
// 	.tribe-event-container{
// 		text-align: left;
// 		color: white;
// 		h2{
// 			text-align: left;
// 			color: white;
// 			a, a:visited, a:hover{
// 				color: white;
// 			}
// 		}
// 	}
// 	.tribe-event-container:nth-child(3){
// 		display: none;
// 		@media (min-width: 992px) {
// 			display: block
// 		}
// 	} //hides the 3rd event on smaller than md
// 	.list-date {
// 		background: white;
// 		.list-dayname{
// 			background: rgba(226, 26, 45, 1.0);
// 			color: white;
// 		}
// 		.list-daynumber{
// 			color: rgba(226, 26, 45, 1.0);
// 		}
// 	}
// }

// #student-life-events-list-content{
// 	.tribe-event-schedule-details{
// 		@media (max-width: 768px) {
// 			padding-left: 12px;
// 		}
// 	}

// 	.tribe-events-event-image + .tribe-events-list-event-description{
// 		@media (min-width: 768px) {
// 			width: 48%;
// 			padding-right: 0;
// 		}
// 	}

// 	.tribe-events-event-image{
// 		width: 100%;
// 		margin-bottom: 12px;
// 		@media (min-width: 768px) {
// 			width: 48%;
// 			margin-right: 2%;
// 			margin-bottom: 0;
// 		}
// 		img {
// 			width: 100%;
// 			max-height: none;
// 		}
// 	}
// }

// .tribe-teaser-container iframe{
// 	width: 100%;
// 	height: calc(6em + 1vw); //mimics the events bar
// }

// .tribe-events-single-event-title.tribe-events-single-event-title.tribe-events-single-event-title {
// 	font-size: 56px;
// }

// .tribe-events-cal-links,
// //.tribe-events-single-event-title,
// //.tribe-events-schedule h2,
// .tribe-events-related-events-title,
// .tribe-related-events{
// 	padding: 0 4% !important;
// }

// .tribe-events-single-event-description p{
// 	padding: 4% !important;
// }

// .tribe-events-back {
// 	padding-top: 4%;
// }

// .tribe-events-schedule h2 {
// 	font-size: 1.75em;
// 	line-height: 1.4em;
// }

// .tribe-related-events-title{
// 	text-align:left;
// }

// .tribe-related-events-thumbnail {
//     float: none !important;
// }

// .get-connected {
// 	h3, a, a:link{
// 	  color: #009097;
// 	}

// 	a:visited, a:hover, a:focus, a:active {
//     color: #006469;
// 	}
// }
